@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/* line 6, ../scss/_global.layout.scss */
body {
  min-width: 300px;
}

/* line 11, ../scss/_global.layout.scss */
.container {
  *zoom: 1;
  max-width: 1240px;
  _width: 1240px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../scss/_global.layout.scss */
header {
  padding-top: 0;
  margin-bottom: -35px;
}
/* line 22, ../scss/_global.layout.scss */
header .header-inside {
  *zoom: 1;
  max-width: 1240px;
  _width: 1240px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 38, ../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header .header-inside:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, ../scss/_global.layout.scss */
.logo,
.navbar,
.add-info {
  display: inline;
  float: left;
}

/* line 36, ../scss/_global.layout.scss */
.logo {
  width: 10%;
}

/* line 40, ../scss/_global.layout.scss */
.navbar {
  width: 40%;
}

/* line 44, ../scss/_global.layout.scss */
.add-info {
  width: 50%;
}

/* line 75, ../scss/_global.layout.scss */
#region-footer-first .region-inner {
  padding-top: 45px;
  padding-bottom: 60px;
  height: 100%;
  overflow: hidden;
}

/* line 83, ../scss/_global.layout.scss */
#region-footer-second .region-inner {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  overflow: hidden;
}

/* line 90, ../scss/_global.layout.scss */
.footer-logo {
  width: 15.32258%;
  float: left;
  margin-right: 1.6129%;
  display: inline;
}

/* line 94, ../scss/_global.layout.scss */
.footer-download-app {
  width: 40.72581%;
  float: left;
  margin-right: 1.6129%;
  display: inline;
}

/* line 98, ../scss/_global.layout.scss */
.footer-social {
  width: 40.72581%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
}

/* line 102, ../scss/_global.layout.scss */
.footer-sponsors {
  padding-top: 50px;
  width: 83.06452%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
  margin-left: 16.93548%;
}

/* line 108, ../scss/_global.layout.scss */
.copyright {
  float: left;
}

/* line 112, ../scss/_global.layout.scss */
.created-by {
  float: right;
}

/* line 119, ../scss/_global.layout.scss */
#content .content-inner {
  *zoom: 1;
  max-width: 1240px;
  _width: 1240px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  min-height: 450px;
}
/* line 38, ../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#content .content-inner:after {
  content: "";
  display: table;
  clear: both;
}

/* line 137, ../scss/_global.layout.scss */
.layout-2col .col-1 {
  width: 66.12903%;
  float: left;
  margin-right: 1.6129%;
  display: inline;
}
/* line 141, ../scss/_global.layout.scss */
.layout-2col .col-2 {
  width: 32.25806%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
}

/* line 10, ../scss/_global.base.scss */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}

/* line 18, ../scss/_global.base.scss */
body {
  font-size: 15px;
  line-height: 24px;
  font-family: "Lato", Arial, serif;
  font-weight: normal;
  color: #334a5c;
  background: white;
  height: 100%;
  position: relative;
}

/* line 32, ../scss/_global.base.scss */
.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 37, ../scss/_global.base.scss */
.page-title span {
  color: #1bbc9d;
}

/* line 42, ../scss/_global.base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial, serif;
  font-weight: 800;
  color: #334a5c;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 0;
}

/* line 52, ../scss/_global.base.scss */
h1 {
  /*font-size: 72px;*/
  font-size: 32px;
  font-weight: bold;
}

/* line 58, ../scss/_global.base.scss */
h2 {
  font-size: 28px;
  font-weight: bold;
}

/* line 63, ../scss/_global.base.scss */
h3 {
  font-size: 24px;
  font-weight: bold;
}

/* line 68, ../scss/_global.base.scss */
h4 {
  font-size: 18px;
  font-weight: bold;
}

/* line 73, ../scss/_global.base.scss */
h5 {
  font-size: 18px;
  font-weight: normal;
}

/* line 78, ../scss/_global.base.scss */
h6 {
  font-size: 18px;
  font-weight: normal;
}

/* line 84, ../scss/_global.base.scss */
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #3598db;
  text-decoration: none;
}
/* line 88, ../scss/_global.base.scss */
a:visited {
  color: #3598db;
}
/* line 91, ../scss/_global.base.scss */
a:hover {
  text-decoration: none;
  color: #217dbc;
}
/* line 95, ../scss/_global.base.scss */
a:active {
  text-decoration: none;
}

/* line 101, ../scss/_global.base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 106, ../scss/_global.base.scss */
p {
  line-height: 26px;
  margin: 0 0 20px 0;
}

/* line 112, ../scss/_global.base.scss */
ul, ol {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 40px;
}
/* line 116, ../scss/_global.base.scss */
ul li, ol li {
  line-height: 26px;
  padding: 0;
  margin: 0;
}

/* line 127, ../scss/_global.base.scss */
::-webkit-input-placeholder {
  color: #97a5a5;
}

/* line 130, ../scss/_global.base.scss */
:-moz-placeholder {
  color: #97a5a5;
}

/* line 133, ../scss/_global.base.scss */
::-moz-placeholder {
  color: #97a5a5;
}

/* line 136, ../scss/_global.base.scss */
:-ms-input-placeholder {
  color: #97a5a5;
}

/* line 156, ../scss/_global.base.scss */
textarea,
select,
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Arial, serif;
  font-size: 14px;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;
  -webkit-appearance: none;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear;
  -moz-transition: border 0.25s linear, color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
}
/* line 145, ../scss/_mixins.scss */
textarea::-webkit-input-placeholder, textarea:-moz-placeholder,
select::-webkit-input-placeholder,
select:-moz-placeholder,
input[type="file"]::-webkit-input-placeholder,
input[type="file"]:-moz-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="email"]:-moz-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="month"]:-moz-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="number"]:-moz-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="password"]:-moz-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="text"]:-moz-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="time"]:-moz-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="url"]:-moz-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="week"]:-moz-placeholder {
  color: #b2bcc5;
}
/* line 148, ../scss/_mixins.scss */
textarea:focus,
select:focus,
input[type="file"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #1abc9c;
  outline: none;
  -webkit-backface-visibility: hidden;
}

/* line 164, ../scss/_global.base.scss */
textarea {
  height: auto;
  min-height: 120px;
}

/* line 172, ../scss/_global.base.scss */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  font-weight: bold;
  display: inline-block;
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-family: "Lato", Arial, serif;
  cursor: pointer;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
}
/* line 91, ../scss/_mixins.scss */
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #48c9b0;
}
/* line 96, ../scss/_mixins.scss */
button:focus, button:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="button"]:focus,
input[type="button"]:active {
  background-color: #16a085;
}

/* line 176, ../scss/_global.base.scss */
input[type="submit"] {
  font-weight: bold;
  display: inline-block;
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-family: "Lato", Arial, serif;
  cursor: pointer;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
  background: #1abc9c;
}
/* line 91, ../scss/_mixins.scss */
input[type="submit"]:hover {
  background-color: #48c9b0;
}
/* line 96, ../scss/_mixins.scss */
input[type="submit"]:focus, input[type="submit"]:active {
  background-color: #16a085;
}
/* line 106, ../scss/_mixins.scss */
input[type="submit"]:hover {
  background-color: #48c9b0;
}
/* line 110, ../scss/_mixins.scss */
input[type="submit"]:focus, input[type="submit"]:active {
  background-color: #16a085;
}

/* line 181, ../scss/_global.base.scss */
.btn {
  font-weight: bold;
  display: inline-block;
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-family: "Lato", Arial, serif;
  cursor: pointer;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
}
/* line 91, ../scss/_mixins.scss */
.btn:hover {
  background-color: #48c9b0;
}
/* line 96, ../scss/_mixins.scss */
.btn:focus, .btn:active {
  background-color: #16a085;
}

/* line 185, ../scss/_global.base.scss */
.btn.btn-primary {
  font-weight: bold;
  display: inline-block;
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-family: "Lato", Arial, serif;
  cursor: pointer;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
  background: #1abc9c;
}
/* line 91, ../scss/_mixins.scss */
.btn.btn-primary:hover {
  background-color: #48c9b0;
}
/* line 96, ../scss/_mixins.scss */
.btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #16a085;
}
/* line 106, ../scss/_mixins.scss */
.btn.btn-primary:hover {
  background-color: #48c9b0;
}
/* line 110, ../scss/_mixins.scss */
.btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #16a085;
}

/* line 189, ../scss/_global.base.scss */
.btn.btn-inverse {
  font-weight: bold;
  display: inline-block;
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-family: "Lato", Arial, serif;
  cursor: pointer;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
  background: #34495e;
}
/* line 91, ../scss/_mixins.scss */
.btn.btn-inverse:hover {
  background-color: #48c9b0;
}
/* line 96, ../scss/_mixins.scss */
.btn.btn-inverse:focus, .btn.btn-inverse:active {
  background-color: #16a085;
}
/* line 118, ../scss/_mixins.scss */
.btn.btn-inverse:hover {
  background-color: #415b76;
}
/* line 122, ../scss/_mixins.scss */
.btn.btn-inverse:focus, .btn.btn-inverse:active {
  background-color: #2c3e50;
}

/* line 193, ../scss/_global.base.scss */
.btn.btn-large {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
}

/* line 199, ../scss/_global.base.scss */
input[type="submit"].search {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAipJREFUeNpijEjNZYACdSBuAWIPIOYB4mtAPB2IpzDgAUxQOpaRkfECCwuzk5K83FkDXa3NYiLC34Dik4H4ABAL4TKABWQzUPMsSXGxK5X5mTNFhIVuAsW+ArHo1t37XJev3ZTNwMg44e/fv3FYDWBlYelnZWX9VJyV0gTUvCMyLe83THL5rEmXHjx+KnLkxOl4ILcPiC9geOHvv38OCnIyh6UkxFE0gwCQ/9zHzWki0IV/+Hh5fbGGwf///9l//vz5AF0zDMjLSF9mYWb+ycPNKY3VAA529ndv3r1XwxVIQINlf//5wy0iJPQEqwFK8rKHPn3+4glk62JTAAyfZmA4fXVztN2K1YCs5LgeHm6ul0B/7gNFJxCzQeUUgXjdnz9/Irm4OF9u3L7nFTYDGIFhwHT5+s2UOYtX5Lx68xbmio9AzM/MxPSVkYmR6c+fv5xAC64D1doDxV8jG8B889m7/1lJsTc8nR1uMzMzv/73798XXh7uV1pqKqcyE2Pmv3334dfzl6+0QOkCaIgPkF4FxN/gLkBKyqB4lwFSIMwKxO+B+A4Qa9R19E24fe+BPVgDxCVOQOYLDANwAaDBNuVNHb2PnjwzgxpyA2iII8gQJgYiADAqj1QXZtcCU+oNEB+oWQNoyH4gU4IoA0AAmBL3lOWkNwDD5ynMEGDm6yPaAKAr/slKS64vy82o4+LkfAU1VIqoMEALD45nL15FHT5xytjZ1mobQIABAJMWyR2hQ/B7AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 15px;
  padding-right: 15px;
  color: transparent !important;
  width: 45px;
}

/* line 239, ../scss/_global.base.scss */
.group-fields > *:first-child {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
/* line 243, ../scss/_global.base.scss */
.group-fields > *:last-child {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
/* line 247, ../scss/_global.base.scss */
.group-fields > * {
  border-radius: 0;
}

/* line 255, ../scss/_global.base.scss */
.select.select-block {
  display: block;
  float: none;
  margin-left: 0;
  width: auto;
  position: relative;
}
/* line 261, ../scss/_global.base.scss */
.select.select-block .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}
/* line 265, ../scss/_global.base.scss */
.select.select-block .btn .filter-option {
  height: 26px;
  left: 13px;
  overflow: hidden;
  position: absolute;
  right: 33px;
  text-align: left;
  top: 10px;
  float: left;
}
/* line 277, ../scss/_global.base.scss */
.select .dropdown-arrow {
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: #34495e transparent #34495e transparent;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  right: 13px;
  top: 100%;
  width: 0;
  z-index: 10;
  -webkit-transform: rotate(360deg);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
/* line 293, ../scss/_global.base.scss */
.select .caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 8px;
  border-bottom-color: #ffffff;
  border-style: solid;
  border-bottom-style: none;
  border-top-color: #ffffff;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

/* line 307, ../scss/_global.base.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/* line 317, ../scss/_global.base.scss */
.select .btn .caret {
  position: absolute;
  right: 16px;
}

/* line 321, ../scss/_global.base.scss */
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

/* line 328, ../scss/_global.base.scss */
.dropdown-menu {
  padding: 4px 0 6px;
  margin: 8px 0 10px 25px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #34495e;
  color: #cccccc;
  border: none;
  border-radius: 6px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
}
/* line 352, ../scss/_global.base.scss */
.dropdown-menu li {
  margin: 0 4px -2px;
}
/* line 355, ../scss/_global.base.scss */
.dropdown-menu li:first-child > a {
  border-radius: 6px 6px 0 0;
  padding-top: 8px;
}
/* line 362, ../scss/_global.base.scss */
.dropdown-menu li:first-child > a, .dropdown-menu li:last-child > a {
  border-radius: 2px;
  padding-bottom: 7px;
  padding-top: 5px;
}
/* line 370, ../scss/_global.base.scss */
.dropdown-menu li.active > a, .dropdown-menu li.selected > a {
  background: #1abc9c;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
/* line 377, ../scss/_global.base.scss */
.dropdown-menu li .divider {
  background-color: #526476;
  border-bottom-color: #526476;
}
/* line 383, ../scss/_global.base.scss */
.dropdown-menu > li > a {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 2px;
  color: #ffffff;
  padding: 5px 11px 7px;
  text-decoration: none;
  text-align: left;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
/* line 398, ../scss/_global.base.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  background: #2c3e50;
}
/* line 401, ../scss/_global.base.scss */
.dropdown-menu > li > a.highlighted {
  background: #526476;
}
/* line 404, ../scss/_global.base.scss */
.dropdown-menu > li > a.highlighted:hover, .dropdown-menu > li > a.highlighted:focus {
  background: #677786;
}

/* line 414, ../scss/_global.base.scss */
.open > .dropdown-arrow {
  margin-top: 9px;
  opacity: 1;
}
/* line 418, ../scss/_global.base.scss */
.open > .dropdown-menu {
  display: block;
  margin-top: 18px;
  opacity: 1;
  visibility: visible;
}

/* line 427, ../scss/_global.base.scss */
.dropdown-inverse li > a .pull-left {
  float: none;
}

/* line 433, ../scss/_global.base.scss */
.pull-left {
  float: left;
}

/* line 437, ../scss/_global.base.scss */
.pull-right {
  float: right;
}

/* line 444, ../scss/_global.base.scss */
.form-item {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
}
/* line 448, ../scss/_global.base.scss */
.form-item label {
  color: #97a5a5;
  font-weight: normal;
  padding-bottom: 0;
}
/* line 455, ../scss/_global.base.scss */
.form-item input,
.form-item select,
.form-item textarea {
  width: 100%;
}

/* line 460, ../scss/_global.base.scss */
.form-actions {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 0;
  clear: both;
}
/* line 465, ../scss/_global.base.scss */
.form-actions input, .form-actions a {
  margin-left: 15px;
}
/* line 468, ../scss/_global.base.scss */
.form-actions a {
  font-size: 13px;
  color: #1bbc9d;
}

/* line 474, ../scss/_global.base.scss */
.description {
  font-size: 11px;
  color: #97a5a5;
}

/* line 481, ../scss/_global.base.scss */
.todo {
  border: 2px solid #d1241a;
  color: #d1241a;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

/* line 7, ../scss/_global.styles.scss */
header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
}
/* line 15, ../scss/_global.styles.scss */
header .header-inside {
  background: #34495e;
  color: white;
  height: 65px;
}

/* line 22, ../scss/_global.styles.scss */
.logo {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 65px;
  background: #1bbc9d;
  text-align: center;
}
/* line 27, ../scss/_global.styles.scss */
.logo img {
  margin: 10px;
}

/* line 32, ../scss/_global.styles.scss */
.navbar {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 65px;
}
/* line 35, ../scss/_global.styles.scss */
.navbar .nav-collapse {
  clear: both;
}
/* line 38, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}
/* line 43, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  line-height: 65px;
  color: #95a5a6;
  text-transform: uppercase;
  display: block;
  text-align: center;
  background: #34495e;
  font-weight: bold;
  font-size: 14px;
  border-right: 1px solid #203346;
}
/* line 54, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li a:hover {
  color: white;
  background: #3598db;
}
/* line 62, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li a.item-timeline.active, .navbar .nav-collapse ul li a.item-timeline:hover {
  background: #3598db;
}
/* line 68, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li a.item-locations.active, .navbar .nav-collapse ul li a.item-locations:hover {
  background: #f39c11;
}
/* line 74, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li a.item-about.active, .navbar .nav-collapse ul li a.item-about:hover {
  background: #1bbc9d;
}
/* line 80, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li a.item-app.active, .navbar .nav-collapse ul li a.item-app:hover {
  background: #e84c3d;
}
/* line 86, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li a.item-webshop.active, .navbar .nav-collapse ul li a.item-webshop:hover {
  background: #9b58b7;
}
/* line 113, ../scss/_global.styles.scss */
.navbar .nav-collapse ul li:first-child a, .navbar .nav-collapse ul li.first a {
  border-left: 1px solid #203346;
}

/* line 122, ../scss/_global.styles.scss */
.add-info {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 65px;
  text-align: right;
}
/* line 126, ../scss/_global.styles.scss */
.add-info .search {
  margin: 0 35px;
  display: inline-block;
  vertical-align: middle;
}
/* line 131, ../scss/_global.styles.scss */
.add-info .search input[type="submit"] {
  margin: 0;
}
/* line 136, ../scss/_global.styles.scss */
.add-info .login {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  line-height: 65px;
}
/* line 143, ../scss/_global.styles.scss */
.add-info .login a {
  color: #1bbc9d;
  padding-left: 5px;
}

/* line 151, ../scss/_global.styles.scss */
.btn-navbar {
  display: none;
  cursor: pointer;
  margin-top: 23px;
  margin-left: 20px;
}
/* line 156, ../scss/_global.styles.scss */
.btn-navbar .icon-text {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: inline-block;
  color: #95a5a6;
  text-transform: uppercase;
  font-size: 16px;
  float: right;
  margin-right: 15px;
  margin-top: -16px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
/* line 168, ../scss/_global.styles.scss */
.btn-navbar .icon-bar {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: inline-block;
  margin-bottom: 3px;
  width: 20px;
  height: 3px;
  background: #95a5a6;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  float: right;
  clear: both;
}
/* line 181, ../scss/_global.styles.scss */
.btn-navbar:hover .icon-text {
  color: white;
}
/* line 184, ../scss/_global.styles.scss */
.btn-navbar:hover .icon-bar {
  background: white;
}
/* line 189, ../scss/_global.styles.scss */
.btn-navbar.active .icon-bar {
  background: white;
}

/* line 406, ../scss/_global.styles.scss */
#magic-search {
  width: 30px;
  height: 30px;
  position: relative;
}
/* line 414, ../scss/_global.styles.scss */
#magic-search #search-clicker,
#magic-search #search-submit {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAStJREFUeNpiNPGMY4ACTiDOBOJAILYE4l9AfByI1wDxLCD+y4AFsEBpRSDeCMS6SHIgA52gOBaI/YH4NboBTEDMhkXzTSC+j8QHuWgdEDNjMyATSTNIox4QawCxEhCbA/EjqJwNEIdgMyAKygb50QeILyPJnwLiRCR+LDYDDKBskMY7WMJpHxC/gLLVsRlADID5/Rc2A05B2aBwMMOi2Q+IRaHsg9gMWIxky2ogtkfTPAeJvwabAQuQXCEHxAeA+C0Qf4ZGryiSekVsBoD85QnE65HEhYCYB4t3pqFHJSwlvgPiIGgy9oPGzF+oy7ZCbZ4ATXRLkb3DgmbDejSXIIOPQDwf3RBio5EBGtiJUJeBDFkB8g4LA2kAFmPzobHWQqoByIY0gpI+QIABAAlhN3lSNwY+AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  font-size: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
/* line 429, ../scss/_global.styles.scss */
#magic-search #search-clicker {
  z-index: 90;
}
/* line 432, ../scss/_global.styles.scss */
#magic-search #search-submit {
  z-index: -1;
}
/* line 435, ../scss/_global.styles.scss */
#magic-search #search-input {
  padding: 2px 5px 3px 5px;
  width: 200px;
  height: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 442, ../scss/_global.styles.scss */
#magic-search #search-input-wrapper {
  position: absolute;
  right: 15px;
  top: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
/* line 451, ../scss/_global.styles.scss */
#magic-search.open #search-input-wrapper {
  width: 300px;
}
/* line 454, ../scss/_global.styles.scss */
#magic-search.open #search-clicker {
  background-color: #16a085;
}

/* line 462, ../scss/_global.styles.scss */
footer {
  font-size: 12px;
}
/* line 464, ../scss/_global.styles.scss */
footer .region-inner {
  color: white;
}
/* line 468, ../scss/_global.styles.scss */
footer .block {
  position: relative;
}
/* line 470, ../scss/_global.styles.scss */
footer .block .block-title {
  text-transform: uppercase;
  line-height: 21px;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  padding-bottom: 1px;
  margin-bottom: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQkAAAABCAIAAABCLszqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpiNJ55m2EgANN/IMHIwPD3VJryf0ZmRiCX8R9QmGEUjILBAP7/AwgwAJi5CfwFe75YAAAAAElFTkSuQmCC) no-repeat 0 bottom;
}

/* line 487, ../scss/_global.styles.scss */
#region-footer-first {
  background: #34495e;
}

/* line 491, ../scss/_global.styles.scss */
#region-footer-second {
  background: #1f2d3a;
}

/* line 495, ../scss/_global.styles.scss */
.copyright {
  float: left;
}

/* line 499, ../scss/_global.styles.scss */
.created-by {
  float: right;
}

/* line 505, ../scss/_global.styles.scss */
.download,
.social {
  background-image: url(../img/footer_icons.png);
  background-repeat: no-repeat;
  color: transparent;
  font-size: 0;
  display: inline-block;
}

/* line 512, ../scss/_global.styles.scss */
.download {
  width: 184px;
  height: 53px;
  margin-right: 20px;
}
/* line 516, ../scss/_global.styles.scss */
.download.app-store {
  background-position: 0 0;
}
/* line 519, ../scss/_global.styles.scss */
.download.google-play {
  background-position: 0 -53px;
}

/* line 524, ../scss/_global.styles.scss */
.social {
  width: 31px;
  height: 30px;
  margin-right: 10px;
}
/* line 528, ../scss/_global.styles.scss */
.social.fb {
  background-position: 0 -106px;
}
/* line 531, ../scss/_global.styles.scss */
.social.tw {
  background-position: -31px -106px;
}

/* line 537, ../scss/_global.styles.scss */
.footer-sponsors .sponsor {
  display: inline-block;
  padding-top: 10px;
  padding-right: 15px;
}

/* line 548, ../scss/_global.styles.scss */
.block {
  position: relative;
}
/* line 551, ../scss/_global.styles.scss */
.block.white-block {
  background: white;
}
/* line 553, ../scss/_global.styles.scss */
.block.white-block .block-title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  line-height: 50px;
  background: #334a5c;
  padding: 0 25px;
}
/* line 561, ../scss/_global.styles.scss */
.block.white-block .block-content {
  padding: 0 25px 25px 25px;
}
/* line 567, ../scss/_global.styles.scss */
.block.search {
  text-align: right;
  padding-bottom: 30px;
}
/* line 571, ../scss/_global.styles.scss */
.block.filter {
  text-align: right;
  padding: 25px 25px 25px 0;
  min-height: 40px;
}
/* line 576, ../scss/_global.styles.scss */
.block.change-location {
  padding-bottom: 35px;
}
/* line 580, ../scss/_global.styles.scss */
.block.facts {
  padding-top: 35px;
}
/* line 582, ../scss/_global.styles.scss */
.block.facts .block-title {
  margin-bottom: 30px;
}
/* line 585, ../scss/_global.styles.scss */
.block.facts .block-content {
  color: #537291;
  line-height: 24px;
  font-size: 13px;
}
/* line 589, ../scss/_global.styles.scss */
.block.facts .block-content a {
  color: #1bbc9d;
}
/* line 592, ../scss/_global.styles.scss */
.block.facts .block-content p {
  margin-bottom: 20px;
  line-height: 24px;
}
/* line 596, ../scss/_global.styles.scss */
.block.facts .block-content img {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: -50px;
}
/* line 605, ../scss/_global.styles.scss */
.block.node {
  color: #537190;
  padding-bottom: 50px;
}
/* line 608, ../scss/_global.styles.scss */
.block.node a {
  color: #1bbc9d;
}
/* line 613, ../scss/_global.styles.scss */
.block.login {
  max-width: 460px;
  margin: 0 auto 100px auto;
}
/* line 618, ../scss/_global.styles.scss */
.block.contact-us {
  width: 49.19355%;
  float: left;
  margin-right: 1.6129%;
  display: inline;
  margin-bottom: 100px;
  background: white;
}
/* line 624, ../scss/_global.styles.scss */
.block.comments {
  margin-bottom: 100px;
}
/* line 628, ../scss/_global.styles.scss */
.block.app {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
/* line 632, ../scss/_global.styles.scss */
.block.app .app-title {
  font-size: 25px;
  margin: 0;
}
/* line 636, ../scss/_global.styles.scss */
.block.app .app-subtitle {
  font-size: 20px;
  font-weight: normal;
  color: #537190;
  margin: 0;
}
/* line 642, ../scss/_global.styles.scss */
.block.app .app-body {
  margin-top: 15px;
  margin-bottom: 70px;
}

/* line 654, ../scss/_global.styles.scss */
#timeline {
  max-width: 660px;
  margin: 0 auto;
  position: relative;
}
/* line 659, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper {
  text-align: center;
  position: relative;
}
/* line 662, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper .timeline-date {
  vertical-align: middle;
  margin: 0 8px;
  padding: 4px;
  border: 3px solid #95a5a5;
  border-radius: 100px;
  display: inline-block;
}
/* line 669, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper .timeline-date .timeline-date-inner {
  display: inline-block;
  width: 43px;
  height: 43px;
  padding: 11px;
  border-radius: 100px;
  background: #334a5c;
  text-shadow: 0 1px 0 black;
  text-align: center;
}
/* line 679, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper .timeline-date .day {
  display: block;
  color: white;
  font-size: 24px;
}
/* line 684, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper .timeline-date .month {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}
/* line 694, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper .timeline-up,
#timeline .timeline-date-wrapper .timeline-down {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  vertical-align: middle;
  padding: 0;
  width: 28px;
  height: 28px;
  color: transparent;
  font-size: 0;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -14px;
  z-index: 2;
}
/* line 712, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper .timeline-up {
  margin-left: 50px;
}
/* line 715, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper .timeline-down {
  margin-left: -80px;
}
/* line 721, ../scss/_global.styles.scss */
#timeline .timeline-date-wrapper:hover .timeline-up,
#timeline .timeline-date-wrapper:hover .timeline-down {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 727, ../scss/_global.styles.scss */
#timeline .timeline-content-wrapper {
  height: 100%;
  overflow: hidden;
  padding: 0 10px 35px 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAIAAAB2XpiaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABNJREFUeNpinLp0KQME/GcCCDAAFp8C4jSkVjIAAAAASUVORK5CYII=);
  background-position: center 0;
  background-repeat: repeat-y;
}

/* line 738, ../scss/_global.styles.scss */
.item {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  clear: both;
  position: relative;
  background: white;
  border-bottom: 7px solid #334a5c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin: 35px 0 0 0;
  min-height: 125px;
  width: 42%;
}
/* line 742, ../scss/_global.styles.scss */
.item:nth-child(even) {
  float: left;
}
/* line 745, ../scss/_global.styles.scss */
.item:nth-child(even) .item-tip {
  background-position: 0 -25px;
  right: -11px;
}
/* line 749, ../scss/_global.styles.scss */
.item:nth-child(even) .item-dot {
  right: -21.7%;
}
/* line 754, ../scss/_global.styles.scss */
.item:nth-child(odd) {
  float: right;
}
/* line 756, ../scss/_global.styles.scss */
.item:nth-child(odd) .item-tip {
  background-position: 0 0;
  left: -11px;
}
/* line 760, ../scss/_global.styles.scss */
.item:nth-child(odd) .item-dot {
  left: -21.5%;
}
/* line 765, ../scss/_global.styles.scss */
.item.type1 {
  border-color: #f39c11;
}
/* line 768, ../scss/_global.styles.scss */
.item.type2 {
  border-color: #334a5c;
}
/* line 771, ../scss/_global.styles.scss */
.item.type3 {
  border-color: #3598db;
}
/* line 774, ../scss/_global.styles.scss */
.item.type4 {
  border-color: #1bbc9d;
}
/* line 777, ../scss/_global.styles.scss */
.item.type5 {
  border-color: #e84c3d;
}
/* line 780, ../scss/_global.styles.scss */
.item.type6 {
  border-color: #9b58b7;
}
/* line 798, ../scss/_global.styles.scss */
.item .item-header {
  padding: 5% 7% 0 7%;
}
/* line 800, ../scss/_global.styles.scss */
.item .item-header .item-info {
  vertical-align: top;
  padding-left: 13%;
  width: 62%;
  display: inline-block;
  background: url(../img/user_icon.png) no-repeat 0 center;
}
/* line 806, ../scss/_global.styles.scss */
.item .item-header .item-info .item-author {
  text-transform: uppercase;
  color: #334a5c;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}
/* line 813, ../scss/_global.styles.scss */
.item .item-header .item-info .item-posted {
  color: #537291;
  font-size: 12px;
  line-height: 16px;
}
/* line 819, ../scss/_global.styles.scss */
.item .item-header .item-icon {
  display: inline-block;
  width: 23%;
  text-align: center;
  vertical-align: top;
  margin-top: -5px;
}
/* line 828, ../scss/_global.styles.scss */
.item .item-header .item-icon .icon-wind {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  font-size: 7px;
  color: #3598db;
  padding-left: 22px;
  font-style: normal;
  background: url(../img/icon_wind.png) no-repeat 0 0;
  text-align: center;
}
/* line 842, ../scss/_global.styles.scss */
.item .item-image {
  padding-top: 4%;
}
/* line 844, ../scss/_global.styles.scss */
.item .item-image img {
  width: 100%;
  height: auto;
}
/* line 850, ../scss/_global.styles.scss */
.item .item-footer {
  padding: 3% 7%;
}
/* line 852, ../scss/_global.styles.scss */
.item .item-footer .item-body {
  font-size: 13px;
  line-height: 18px;
  color: #537291;
  padding-bottom: 8px;
}
/* line 857, ../scss/_global.styles.scss */
.item .item-footer .item-body p {
  margin: 0;
}
/* line 861, ../scss/_global.styles.scss */
.item .item-footer .item-loc-name {
  font-size: 12px;
  float: left;
}
/* line 866, ../scss/_global.styles.scss */
.item .item-footer .item-from {
  float: right;
  font-size: 12px;
}
/* line 869, ../scss/_global.styles.scss */
.item .item-footer .item-from a {
  color: #1bbc9d;
}
/* line 873, ../scss/_global.styles.scss */
.item .item-footer .item-comments {
  text-align: right;
  font-size: 12px;
  clear: both;
}
/* line 880, ../scss/_global.styles.scss */
.item .item-tip {
  margin: 25px 0;
  width: 11px;
  height: 25px;
  position: absolute;
  top: 0;
  background: url(../img/timeline_sprite.png) no-repeat 0 0;
}
/* line 890, ../scss/_global.styles.scss */
.item .item-dot {
  margin: 25px 0;
  width: 14px;
  height: 25px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAZCAYAAAABmx/yAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNpi/P//PwM5gImBTDCENLJMX74cmc8DxEVA7AHEZlCxU0C8A4j7gPgLXCOSJnsgng/EimiGW0JxAhAnAvFBZKcGAvEBLJqQgSJUTSBMoxAQLyLBeyC1QkxQP/GQoBEcDiCN3mQEqjdIoxYZGhVBGr+ToZEZpPE+GRrvgDRuJUPjVpDGicgpgggAUjsRpPE1NEUQC0BqX8NSzhogdiPgX5CcJ1QtSu7YDcR6QNwETdgMSIm8CSq3AybIOFp00EAjQIABAM8MJn0IJatkAAAAAElFTkSuQmCC);
  position: absolute;
  top: 0;
}

/* line 901, ../scss/_global.styles.scss */
.comment-num {
  color: #3598db;
  font-weight: bold;
  padding-right: 20px;
  background: url(../img/comments.png) no-repeat right center;
  line-height: 16px;
  display: inline-block;
}

/* line 911, ../scss/_global.styles.scss */
.icon-weather {
  display: inline-block;
  color: transparent;
  font-size: 0;
  width: 44px;
  height: 40px;
  background-image: url(../img/weather_icons.png);
  background-repeat: no-repeat;
}
/* line 920, ../scss/_global.styles.scss */
.icon-weather.party-cloudy {
  background-position: 0 0;
}
/* line 923, ../scss/_global.styles.scss */
.icon-weather.sun {
  background-position: 0 -40px;
}
/* line 926, ../scss/_global.styles.scss */
.icon-weather.cloud {
  background-position: 0 -80px;
}
/* line 929, ../scss/_global.styles.scss */
.icon-weather.heavy-rain {
  background-position: 0 -120px;
}
/* line 932, ../scss/_global.styles.scss */
.icon-weather.rain {
  background-position: 0 -160px;
}
/* line 935, ../scss/_global.styles.scss */
.icon-weather.heavy-snow {
  background-position: 0 -200px;
}
/* line 938, ../scss/_global.styles.scss */
.icon-weather.snow {
  background-position: 0 -240px;
}
/* line 941, ../scss/_global.styles.scss */
.icon-weather.lightning {
  background-position: 0 -280px;
}

/* line 954, ../scss/_global.styles.scss */
#location-wrapper .location-right {
  border-radius: 0 6px 6px 0;
  border-left: 2px solid #21303b;
  float: right;
}
/* line 960, ../scss/_global.styles.scss */
#location-wrapper .location-left {
  border-radius: 6px 0 0 6px;
  border-right: 2px solid #21303b;
  float: left;
}
/* line 966, ../scss/_global.styles.scss */
#location-wrapper .current-location {
  border-radius: 0;
  display: block;
  margin-left: 38px;
  margin-right: 38px;
  text-align: center;
}

/* line 977, ../scss/_global.styles.scss */
#filter-form {
  width: 180px;
  float: right;
}

/* line 987, ../scss/_global.styles.scss */
.page {
  background: #ecf1f7;
}

/* line 992, ../scss/_global.styles.scss */
.page-app,
.page-home {
  background: url(../img/bg/bg_home.jpg) no-repeat center 0;
  background-size: cover;
  background-attachment: fixed;
}

/* line 999, ../scss/_global.styles.scss */
.page-locations {
  background: #ecf1f7;
}
/* line 1001, ../scss/_global.styles.scss */
.page-locations .col-1 {
  background: #e0e7f1;
}

/* line 1011, ../scss/_global.styles.scss */
.icon {
  display: inline-block;
  color: transparent;
  font-size: 0;
  vertical-align: middle;
}
/* line 1015, ../scss/_global.styles.scss */
.icon.up {
  width: 13px;
  height: 7px;
  background-image: url(../img/misc_icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 1020, ../scss/_global.styles.scss */
.icon.down {
  width: 13px;
  height: 7px;
  background-image: url(../img/misc_icons.png);
  background-repeat: no-repeat;
  background-position: 0 -7px;
}
/* line 1025, ../scss/_global.styles.scss */
.icon.left {
  width: 12px;
  height: 14px;
  background-image: url(../img/misc_icons.png);
  background-repeat: no-repeat;
  background-position: -13px 0;
}
/* line 1030, ../scss/_global.styles.scss */
.icon.right {
  width: 12px;
  height: 14px;
  background-image: url(../img/misc_icons.png);
  background-repeat: no-repeat;
  background-position: -25px 0;
}

/* line 1039, ../scss/_global.styles.scss */
.view {
  padding-bottom: 60px;
}

/* line 1044, ../scss/_global.styles.scss */
.view-locations {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 1047, ../scss/_global.styles.scss */
.view-locations .view-item {
  height: 100%;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 45px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
/* line 1055, ../scss/_global.styles.scss */
.view-locations .view-item .location-image {
  float: left;
  background: url(../img/location_cover.png) no-repeat 0 0;
  background-size: 100% 100%;
  margin-right: 30px;
  width: 27.5%;
  height: auto;
  padding: 2.9%;
  max-width: 160px;
}
/* line 1072, ../scss/_global.styles.scss */
.view-locations .view-item .location-name {
  font-weight: bold;
  font-size: 22px;
  display: block;
  padding-bottom: 5px;
}
/* line 1078, ../scss/_global.styles.scss */
.view-locations .view-item .location-content {
  font-size: 14px;
  color: #95a5a6;
  padding-bottom: 10px;
}
/* line 1082, ../scss/_global.styles.scss */
.view-locations .view-item .location-content span {
  color: #1bbc9d;
}
/* line 1086, ../scss/_global.styles.scss */
.view-locations .view-item .location-read-more {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 1106, ../scss/_global.styles.scss */
.view-comments {
  padding-bottom: 0;
  margin-bottom: 10px;
  background: #e6f2fa;
  border-radius: 5px;
}
/* line 1111, ../scss/_global.styles.scss */
.view-comments .view-item {
  padding: 6px 10px;
  border-top: 1px solid white;
}
/* line 1116, ../scss/_global.styles.scss */
.view-comments .view-item .comment-author {
  font-size: 12px;
  font-weight: bold;
  color: #334a5c;
  line-height: 19px;
}
/* line 1122, ../scss/_global.styles.scss */
.view-comments .view-item .comment-body {
  font-size: 13px;
  line-height: 19px;
  color: #537291;
}
/* line 1126, ../scss/_global.styles.scss */
.view-comments .view-item .comment-body p {
  line-height: 19px;
  margin: 0;
}
/* line 1131, ../scss/_global.styles.scss */
.view-comments .view-item .comment-post-date {
  font-size: 11px;
  line-height: 19px;
  color: #95a5a6;
}
/* line 1140, ../scss/_global.styles.scss */
.view-comments .view-item.first, .view-comments .view-item:first-child {
  border-top: none;
}

/* line 1152, ../scss/_global.styles.scss */
#comments {
  background: white;
  max-width: 660px;
  padding: 20px 15px 15px 15px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow: hidden;
}
/* line 1160, ../scss/_global.styles.scss */
#comments .item {
  float: left !important;
  clear: none;
  box-shadow: none;
  border-bottom: none;
  width: auto;
  margin: 0;
  border-radius: 0;
  background: none;
  width: 41%;
  padding-right: 3%;
}
/* line 1172, ../scss/_global.styles.scss */
#comments .item .item-header {
  padding-top: 0;
}
/* line 1174, ../scss/_global.styles.scss */
#comments .item .item-header .item-info {
  padding-left: 15%;
  width: 60%;
}
/* line 1187, ../scss/_global.styles.scss */
#comments .item-comments {
  width: 56%;
  float: right;
}

/* line 1197, ../scss/_global.styles.scss */
#comment-form input[type="text"],
#comment-form input[type="submit"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 41px;
}
/* line 1202, ../scss/_global.styles.scss */
#comment-form input[type="text"] {
  width: 95%;
  padding-right: 70px;
}
/* line 1206, ../scss/_global.styles.scss */
#comment-form input[type="submit"] {
  float: right;
  position: relative;
  z-index: 2;
  margin-top: -41px;
}

/* line 1216, ../scss/_global.styles.scss */
.ajax-loader {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  clear: both;
  position: relative;
  background: white;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 32px;
  width: 110px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -70px;
}
/* line 1232, ../scss/_global.styles.scss */
.ajax-loader img {
  padding-right: 10px;
}

@media only screen and (max-width: 1036px) {
  /* line 9, ../scss/_responsive.tablet.landscape.scss */
  .block.contact-us {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -20px;
    display: inline;
  }

  /* line 15, ../scss/_responsive.tablet.landscape.scss */
  .footer-logo {
    width: 32.25806%;
    float: left;
    margin-right: 1.6129%;
    display: inline;
    text-align: center;
  }

  /* line 20, ../scss/_responsive.tablet.landscape.scss */
  .footer-download-app {
    width: 66.12903%;
    float: right;
    margin-right: 0;
    #margin-left: -20px;
    display: inline;
    margin-bottom: 50px;
  }

  /* line 25, ../scss/_responsive.tablet.landscape.scss */
  .footer-social {
    width: 66.12903%;
    float: right;
    margin-right: 0;
    #margin-left: -20px;
    display: inline;
    margin-left: 33.87097%;
  }

  /* line 29, ../scss/_responsive.tablet.landscape.scss */
  .footer-sponsors {
    width: 66.12903%;
    float: right;
    margin-right: 0;
    #margin-left: -20px;
    display: inline;
    margin-left: 33.87097%;
  }

  /* line 45, ../scss/_responsive.tablet.landscape.scss */
  .navbar .nav-collapse ul li a {
    font-size: 13px;
  }

  /* line 75, ../scss/_responsive.tablet.landscape.scss */
  .layout-2col .col-1 {
    width: 100%;
    float: left;
    margin-right: 1.6129%;
    display: inline;
  }
  /* line 79, ../scss/_responsive.tablet.landscape.scss */
  .layout-2col .col-2 {
    width: 100%;
    float: left;
    margin-right: 1.6129%;
    display: inline;
  }
}
@media only screen and (max-width: 768px) {
  /* line 26, ../scss/_responsive.tablet.portrait.scss */
  .logo {
    width: 15%;
  }

  /* line 29, ../scss/_responsive.tablet.portrait.scss */
  .navbar {
    width: 55%;
  }
  /* line 34, ../scss/_responsive.tablet.portrait.scss */
  .navbar .nav-collapse ul li a {
    font-size: 13px;
  }

  /* line 41, ../scss/_responsive.tablet.portrait.scss */
  .add-info {
    width: 30%;
  }
  /* line 43, ../scss/_responsive.tablet.portrait.scss */
  .add-info .login {
    line-height: 15px;
    padding-top: 17px;
    width: 100px;
    margin: 0;
  }
  /* line 50, ../scss/_responsive.tablet.portrait.scss */
  .add-info .search {
    margin: 0 10px;
    vertical-align: bottom;
  }

  /* line 58, ../scss/_responsive.tablet.portrait.scss */
  #content .content-inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 65, ../scss/_responsive.tablet.portrait.scss */
  .view-locations {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 68, ../scss/_responsive.tablet.portrait.scss */
  .view-locations .view-item {
    height: 100%;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-block;
  }
  /* line 74, ../scss/_responsive.tablet.portrait.scss */
  .view-locations .view-item .location-image {
    width: 40%;
    padding: 5%;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 520px) {
  /* line 9, ../scss/_responsive.phone.landscape.scss */
  .footer-logo {
    display: none;
  }

  /* line 12, ../scss/_responsive.phone.landscape.scss */
  .footer-download-app {
    display: none;
  }

  /* line 17, ../scss/_responsive.phone.landscape.scss */
  .footer-social {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -20px;
    display: inline;
  }

  /* line 20, ../scss/_responsive.phone.landscape.scss */
  .footer-sponsors {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -20px;
    display: inline;
  }

  /* line 39, ../scss/_responsive.phone.landscape.scss */
  .logo {
    width: 100px;
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  /* line 45, ../scss/_responsive.phone.landscape.scss */
  .navbar {
    width: auto;
    display: inline-block;
    float: none;
    padding-right: 20px;
    text-align: right;
  }

  /* line 52, ../scss/_responsive.phone.landscape.scss */
  .add-info {
    display: inline-block;
    clear: none;
    float: right;
    width: 50px;
    height: 65px;
  }
  /* line 60, ../scss/_responsive.phone.landscape.scss */
  .add-info .login {
    display: none;
  }
  /* line 63, ../scss/_responsive.phone.landscape.scss */
  .add-info .search {
    margin-top: 17px;
  }

  /* line 71, ../scss/_responsive.phone.landscape.scss */
  .btn-navbar {
    display: inline-block;
  }

  /* line 75, ../scss/_responsive.phone.landscape.scss */
  .navbar {
    height: auto;
  }
  /* line 77, ../scss/_responsive.phone.landscape.scss */
  .navbar .nav-collapse {
    position: absolute;
    left: 100px;
    top: 65px;
  }
  /* line 82, ../scss/_responsive.phone.landscape.scss */
  .navbar .nav-collapse ul li {
    border-bottom: 1px solid #203346;
    float: none;
    width: 180px;
    text-align: left;
  }
  /* line 87, ../scss/_responsive.phone.landscape.scss */
  .navbar .nav-collapse ul li a {
    text-align: left;
    padding-left: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    line-height: 50px;
  }
  /* line 97, ../scss/_responsive.phone.landscape.scss */
  .navbar .nav-collapse ul li a .text {
    font-size: 16px;
  }
  /* line 103, ../scss/_responsive.phone.landscape.scss */
  .navbar .nav-collapse ul li:first-child a, .navbar .nav-collapse ul li.first a {
    border-left: none;
    border-top: 1px solid #203346;
  }

  /* line 144, ../scss/_responsive.phone.landscape.scss */
  .item {
    margin-top: 35px !important;
  }
  /* line 147, ../scss/_responsive.phone.landscape.scss */
  .item:nth-child(odd), .item:nth-child(even) {
    float: none;
    width: auto;
    margin-left: 88px;
  }
  /* line 152, ../scss/_responsive.phone.landscape.scss */
  .item:nth-child(odd) .item-tip, .item:nth-child(even) .item-tip {
    background-position: 0 0;
    left: -11px;
    right: auto;
  }
  /* line 157, ../scss/_responsive.phone.landscape.scss */
  .item:nth-child(odd) .item-dot, .item:nth-child(even) .item-dot {
    left: -58px;
    right: auto;
  }

  /* line 166, ../scss/_responsive.phone.landscape.scss */
  #timeline .timeline-date-wrapper {
    text-align: left;
  }
  /* line 170, ../scss/_responsive.phone.landscape.scss */
  #timeline .timeline-date-wrapper .timeline-down,
  #timeline .timeline-date-wrapper .timeline-up {
    left: 50px;
    text-align: center;
  }
  /* line 174, ../scss/_responsive.phone.landscape.scss */
  #timeline .timeline-date-wrapper .timeline-down {
    margin-left: 90px;
  }
  /* line 178, ../scss/_responsive.phone.landscape.scss */
  #timeline .timeline-content-wrapper {
    background-position: 45px 0;
  }

  /* line 184, ../scss/_responsive.phone.landscape.scss */
  .view-locations {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 187, ../scss/_responsive.phone.landscape.scss */
  .view-locations .view-item {
    height: 100%;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: inline-block;
  }
  /* line 194, ../scss/_responsive.phone.landscape.scss */
  .view-locations .view-item .location-image {
    background: url(../img/location_cover.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin-right: 20px;
    width: 40%;
    height: auto;
    padding: 4.3%;
    max-width: 160px;
  }

  /* line 212, ../scss/_responsive.phone.landscape.scss */
  #comments .item {
    margin-top: 0 !important;
    padding-right: 0;
    width: 100%;
    float: none;
    clear: both;
  }
  /* line 219, ../scss/_responsive.phone.landscape.scss */
  #comments .item .item-header .item-icon {
    max-width: 90px;
  }
  /* line 224, ../scss/_responsive.phone.landscape.scss */
  #comments .item-comments {
    float: none;
    width: 100%;
    clear: both;
  }

  /* line 232, ../scss/_responsive.phone.landscape.scss */
  ul, ol {
    padding-left: 25px;
  }

  /* line 239, ../scss/_responsive.phone.landscape.scss */
  .form-item input,
  .form-item select,
  .form-item textarea {
    width: 95%;
  }
}
@media only screen and (max-width: 360px) {
  /* line 10, ../scss/_responsive.phone.portrait.scss */
  .navbar .nav-collapse {
    left: 80px;
  }

  /* line 18, ../scss/_responsive.phone.portrait.scss */
  .item .item-header .item-info {
    margin-bottom: 10px;
    padding-left: 30px;
    width: auto;
    display: block;
  }
  /* line 24, ../scss/_responsive.phone.portrait.scss */
  .item .item-header .item-icon {
    display: block;
    text-align: center;
    width: auto;
  }
  /* line 29, ../scss/_responsive.phone.portrait.scss */
  .item .item-header .item-icon .icon-weather,
  .item .item-header .item-icon .icon-wind {
    vertical-align: middle;
  }
  /* line 35, ../scss/_responsive.phone.portrait.scss */
  .item .item-footer .item-body {
    font-size: 12px;
  }
  /* line 39, ../scss/_responsive.phone.portrait.scss */
  .item .item-footer .item-from,
  .item .item-footer .item-loc-name {
    float: none;
    text-align: center;
    display: block;
  }

  /* line 51, ../scss/_responsive.phone.portrait.scss */
  .logo {
    width: 80px;
  }

  /* line 54, ../scss/_responsive.phone.portrait.scss */
  .navbar {
    padding-right: 0;
  }

  /* line 62, ../scss/_responsive.phone.portrait.scss */
  .view-locations {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 65, ../scss/_responsive.phone.portrait.scss */
  .view-locations .view-item {
    height: 100%;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  /* line 73, ../scss/_responsive.phone.portrait.scss */
  .view-locations .view-item .location-image {
    float: none;
    background: url(../img/location_cover.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin-right: 0;
    width: auto;
    height: auto;
    padding: 6.5%;
    max-width: 160px;
    display: inline-block;
    margin-bottom: 20px;
  }

  /* line 89, ../scss/_responsive.phone.portrait.scss */
  .page-title {
    text-align: center;
  }

  /* line 98, ../scss/_responsive.phone.portrait.scss */
  #comments .item .item-header .item-icon {
    max-width: 100%;
  }
}
