// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds main CUSTOM styles
// ---------------------------------------------------------------------------------------------------------------------

// Header content
// ---------------------------------------------------------------------------------------------------------------------
header {
  //position: relative;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
  .header-inside {
    background: $color_footer_blue;
    color: $color_white;
    height: 65px;
  }
}

.logo {
  @include base-transition;
  height: 65px;
  background: $color_green;
  text-align: center;
  img {
    margin: 10px;
  }
}

.navbar {
  @include base-transition;
  height: 65px;
  .nav-collapse {
    clear: both;
    ul {
      li {
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;
        a {
          @include base-transition;
          line-height: 65px;
          color: $color_header_font;
          text-transform: uppercase;
          display: block;
          text-align: center;
          background: $color_footer_blue;
          font-weight: bold;
          font-size: 14px;
          border-right: 1px solid $color_header_divider;
          &:hover {
            color: $color_white;
            background: $color_blue;
          }
          // Hover states for each section
          &.item-timeline {
            // Add hover color and (in future) active link color
            &.active,
            &:hover {
              background: $color_blue;
            }
          }
          &.item-locations {
            &.active,
            &:hover {
              background: $color_orange;
            }
          }
          &.item-about {
            &.active,
            &:hover {
              background: $color_green;
            }
          }
          &.item-app {
            &.active,
            &:hover {
              background: $color_red;
            }
          }
          &.item-webshop {
            &.active,
            &:hover {
              background: $color_violet;
            }
          }
          // Hover state, change icons backgrounds
          .header-icon {
            &.timeline {

            }
            &.location {

            }
            &.about {

            }
            &.app {

            }
            &.webshop {

            }
          }

        }
        // Remove border from first element
        &:first-child,
        &.first {
          a {
            border-left: 1px solid $color_header_divider;
          }
        }
      }
    }
  }
}

.add-info {
  @include base-transition;
  height: 65px;
  text-align: right;
  .search {
    margin: 0 35px;

    display: inline-block;
    vertical-align: middle;
    input[type="submit"] {
      margin: 0;

    }
  }
  .login {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    line-height: 65px;
    a {
      color: $color_green;
      padding-left: 5px;
    }
  }
}

// Navbar btn
.btn-navbar {
  display: none;
  cursor: pointer;
  margin-top: 23px;
  margin-left: 20px;
  .icon-text {
    @include base-transition;
    display: inline-block;
    color: $color_header_font;
    text-transform: uppercase;
    font-size: 16px;
    float: right;
    margin-right: 15px;
    margin-top: -16px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    font-weight: bold;
  }
  .icon-bar {
    @include base-transition;
    display: inline-block;
    margin-bottom: 3px;
    width: 20px;
    height: 3px;
    background: $color_header_font;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    float: right;
    clear: both;
  }
  // Active state
  &:hover {
    .icon-text {
      color: $color_white;
    }
    .icon-bar {
      background: $color_white;
    }
  }
  &.active {
    .icon-bar {
      background: $color_white;
    }
  }
}


// OLD STYLES for HEADER
//header {
//  position: relative;
//  z-index: 5;
//  .header-inner {
//    background: $color_white;
//    box-shadow: 0 0 1px 0 $color_header_border;
//  }
//  // change link colors
//  a {
//    color: $color_green;
//    &:visited {
//      color: $color_green;
//    }
//    &:hover {
//      color: darken($color_green, 10%);
//    }
//  }
//}
//
//.header-logo {
//
//}
//
//.header-info {
//  text-align: right;
//  .user-info {
//
//  }
//  .sponsors {
//    padding-top: 30px;
//    color: $color_header_grey;
//    .text {
//      font-size: 12px;
//    }
//    .sponsor {
//      margin-left: 20px;
//    }
//  }
//}
//
//.navbar {
//  text-align: right;
//  height: 54px;
//}
//
//.btn-navbar {
//  cursor: pointer;
//  margin-right: 25px;
//  padding-bottom: 20px;
//  .icon-text {
//    @include base-transition;
//    display: inline-block;
//    color: $color_black;
//    text-transform: uppercase;
//    font-size: 20px;
//    float: right;
//    margin-right: 20px;
//    margin-top: -17px;
//  }
//  .icon-bar {
//    @include base-transition;
//    display: inline-block;
//    margin-bottom: 3px;
//    width: 24px;
//    height: 5px;
//    background: $color_black;
//
//    float: right;
//    clear: both;
//  }
//  // Active state
//  &.active,
//  &:hover {
//    .icon-text {
//      color: lighten($color_black, 20%);
//    }
//    .icon-bar {
//      background: lighten($color_black, 20%);
//    }
//  }
//}
//
//.nav-collapse {
//  clear: both;
//  ul {
//    li {
//      float: left;
//      width: 20%;
//      margin: 0;
//      padding: 0;
//      a {
//        @include base-transition;
//        line-height: 50px;
//        border-top: 1px solid $color_nav_b;
//        border-left: 1px solid $color_nav_b;
//        color: $color_nav;
//        text-shadow: 0 1px 0 $color_white;
//        display: block;
//        text-align: center;
//        background: $color_grey_light;
//        .header-icon {
//          vertical-align: middle;
//        }
//        .text {
//          display: inline-block;
//          vertical-align: middle;
//        }
//        // Bottom borders
//        &.item-timeline {
//          // Set border color for each item
//          border-bottom: 2px solid $color_orange;
//          // Add hover color and (in future) active link color
//          &.active,
//          &:hover {
//            background: lighten($color_orange, 40%);
//          }
//        }
//        &.item-locations {
//          border-bottom: 2px solid $color_blue;
//          &.active,
//          &:hover {
//            background: lighten($color_blue, 40%);
//          }
//        }
//        &.item-about {
//          border-bottom: 2px solid $color_green;
//          &.active,
//          &:hover {
//            background: lighten($color_green, 50%);
//          }
//        }
//        &.item-app {
//          border-bottom: 2px solid $color_red;
//          &.active,
//          &:hover {
//            background: lighten($color_red, 40%);
//          }
//        }
//        &.item-webshop {
//          border-bottom: 2px solid $color_violet;
//          &.active,
//          &:hover {
//            background: lighten($color_violet, 40%);
//          }
//        }
//        // Hover state, change icons backgrounds
//        .header-icon {
//          &.timeline {
//
//          }
//          &.location {
//
//          }
//          &.about {
//
//          }
//          &.app {
//
//          }
//          &.webshop {
//
//          }
//        }
//
//      }
//      // Remove border from first element
//      &.first {
//        a {
//          border-left: none;
//        }
//      }
//    }
//  }
//}
//
//// Header icons
//.header-icon {
//  @include transition(background-image 0.3s ease-out);
//  display: inline-block;
//  width: 22px;
//  height: 22px;
//  background: grey;
//  margin-right: 10px;
//  @include no-font;
//  // Icons by type
//  &.timeline {
//
//  }
//  &.location {
//
//  }
//  &.about {
//
//  }
//  &.app {
//
//  }
//  &.webshop {
//
//  }
//}

// Hide navbar btn
//.btn-navbar {
//  display: none;
//}

// Header search prototype

#magic-search {
  width: 30px;
  height: 30px;
  position: relative;
  // Form

  // Items
  #search-clicker,
  #search-submit {
    background-image: url(../img/magic_search.png);
    background-repeat: no-repeat;
    background-position: center center;
    @include no-font;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 30px;

    position: absolute;
    right: 0;
    top: 0;

    margin: 0;
  }
  #search-clicker {
    z-index: 90;
  }
  #search-submit {
    z-index: -1;
  }
  #search-input {
    padding: 2px 5px 3px 5px;
    width: 200px;
    height: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #search-input-wrapper {
    position: absolute;
    right: 15px;
    top: 0;
    width: 0;
    overflow: hidden;
    @include transition(width 0.3s);
  }
  &.open {
    #search-input-wrapper {
      width: 300px;
    }
    #search-clicker {
      background-color: #16a085;
    }
  }
}

// Footer content
// ---------------------------------------------------------------------------------------------------------------------
footer {
  font-size: 12px;
  .region-inner {
    color: $color_white;
  }
  // Block styles
  .block {
    position: relative;
    .block-title {
      text-transform: uppercase;
      line-height: 21px;
      font-size: 12px;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
      padding-bottom: 1px;
      margin-bottom: 15px;
      // Insert background for title borders
      // Why base64? Don't know :)
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQkAAAABCAIAAABCLszqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpiNJ55m2EgANN/IMHIwPD3VJryf0ZmRiCX8R9QmGEUjILBAP7/AwgwAJi5CfwFe75YAAAAAElFTkSuQmCC) no-repeat 0 bottom;
    }
    .block-content {

    }
  }
}

#region-footer-first {
  background: $color_footer_blue;
}

#region-footer-second {
  background: $color_footer_darkblue;
}

.copyright {
  float: left;
}

.created-by {
  float: right;
}

// Add icons
.download,
.social {
  background-image: url(../img/footer_icons.png);
  background-repeat: no-repeat;
  @include no-font;
  display: inline-block;
}

.download {
  width: 184px;
  height: 53px;
  margin-right: 20px;
  &.app-store {
    background-position: 0 0;
  }
  &.google-play {
    background-position: 0 -53px;
  }
}

.social {
  width: 31px;
  height: 30px;
  margin-right: 10px;
  &.fb {
    background-position: 0 -106px;
  }
  &.tw {
    background-position: -31px -106px;
  }
}

.footer-sponsors {
  .sponsor {
    display: inline-block;
    padding-top: 10px;
    padding-right: 15px;
  }
}

// Main content
// ---------------------------------------------------------------------------------------------------------------------

// Specific block alignment and margins
.block {
  position: relative;
  // Basic block styles (need to be added class .white-block) used for forms, logins, etc.
  &.white-block {
    background: $color_white;
    .block-title {
      font-size: 25px;
      font-weight: bold;
      color: $color_white;
      line-height: 50px;
      background: $color_black;
      padding: 0 25px;
    }
    .block-content {
      padding: 0 25px 25px 25px;
    }
  }

  // Blocks by type, or something like this
  &.search {
    text-align: right;
    padding-bottom: 30px;
  }
  &.filter {
    text-align: right;
    padding: 25px 25px 25px 0;
    min-height: 40px; // some fix
  }
  &.change-location {
    padding-bottom: 35px;
    //padding-top: 15px;
  }
  &.facts {
    padding-top: 35px;
    .block-title {
      margin-bottom: 30px;
    }
    .block-content {
      color: $color_lightblue;
      line-height: 24px;
      font-size: 13px;
      a {
        color: $color_green;
      }
      p {
        margin-bottom: 20px;
        line-height: 24px;
      }
      img {
        float: right;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: -50px;
      }
    }
  }
  // Static node block
  &.node {
    color: $color_node;
    padding-bottom: 50px;
    a {
      color: $color_green;
    }
  }
  // login block
  &.login {
    max-width: 460px;
    margin: 0 auto 100px auto;
  }
  // Contact us block
  &.contact-us {
    @include span-columns(6, 12);
    margin-bottom: 100px;
    background: $color_white;
  }
  // Comments block
  &.comments {
    margin-bottom: 100px;
  }
  // APP block
  &.app {
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    .app-title {
      font-size: 25px;
      margin: 0;
    }
    .app-subtitle {
      font-size: 20px;
      font-weight: normal;
      color: $color_node;
      margin: 0;
    }
    .app-body {
      margin-top: 15px;
      margin-bottom: 70px;
    }
    .app-image {

    }
  }
}

// Timeline styling
// ---------------------------------------------------------------------------------------------------------------------
#timeline {
  max-width: 640px + 20px; // 20px due to paddings
  margin: 0 auto;
  position: relative;
  // Date
  .timeline-date-wrapper {
    text-align: center;
    position: relative;
    .timeline-date {
      vertical-align: middle;
      margin: 0 8px;
      padding: 4px;
      border: 3px solid $color_timeline_border;
      border-radius: 100px;
      display: inline-block;
      .timeline-date-inner {
        display: inline-block;
        width: 43px;
        height: 43px;
        padding: 11px;
        border-radius: 100px;
        background: $color_black;
        text-shadow: 0 1px 0 rgba(0,0,0,1);
        text-align: center;
      }
      .day {
        display: block;
        color: $color_white;
        font-size: 24px;
      }
      .month {
        display: block;
        color: $color_white;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
      }
    }
    // Buttons
    .timeline-up,
    .timeline-down {
      @include opacity(0); // Hide items if not hovered
      vertical-align: middle;

      padding: 0;
      width: 28px;
      height: 28px;
      @include no-font;
      border-radius: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -14px;
      z-index: 2;
      &:hover {

      }
    }
    .timeline-up {
      margin-left: 50px;
    }
    .timeline-down {
      margin-left: -80px;
    }
    // Hover date-time block
    &:hover {
      .timeline-up,
      .timeline-down {
        @include opacity(1); // Hide items if not hovered
      }
    }
  }
  // Content for each date (goes after date)
  .timeline-content-wrapper {
    @include overflow;
    padding: 0 10px 35px 10px;
    // Added image by base64 because it's used 1 time :)
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAIAAAB2XpiaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABNJREFUeNpinLp0KQME/GcCCDAAFp8C4jSkVjIAAAAASUVORK5CYII=);
    background-position: center 0;
    background-repeat: repeat-y;
  }
}

// Single item from timeline
.item {
  @include base-transition;
  clear: both;
  // Positioning items
  &:nth-child(even) {
    float: left;
    // Change bg-position for tip
    .item-tip {
      background-position: 0 -25px;
      right: -11px;
    }
    .item-dot {
      right: -21.7%;
    }

  }
  &:nth-child(odd) {
    float: right;
    .item-tip {
      background-position: 0 0;
      left: -11px;
    }
    .item-dot {
      left: -21.5%;
    }
  }
  // Add bottom border from type to type
  &.type1 {
    border-color: $color_orange;
  }
  &.type2 {
    border-color: $color_black;
  }
  &.type3 {
    border-color: $color_blue;
  }
  &.type4 {
    border-color: $color_green;
  }
  &.type5 {
    border-color: $color_red;
  }
  &.type6 {
    border-color: $color_violet;
  }
  // Main styles for single item
  position: relative;
  background: $color_white;
  border-bottom: 7px solid $color_black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.8);
  border-radius: 4px;
  margin: 35px 0 0 0;
  min-height: 125px;

  // TODO: drop this PX with in future
  //max-width: 269px;

  width: 42%;

  // Heading
  .item-header {
    padding: 5% 7% 0 7%;
    .item-info {
      vertical-align: top;
      padding-left: 13%;
      width: 62%;
      display: inline-block;
      background: url(../img/user_icon.png) no-repeat 0 center;
      .item-author {
        text-transform: uppercase;
        color: $color_black;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
      }
      .item-posted {
        color: $color_lightblue;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .item-icon {
      display: inline-block;
      width: 23%;
      text-align: center;
      vertical-align: top;
      margin-top: -5px;
      .icon-weather {

      }
      .icon-wind {
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: 7px;
        color: $color_blue;
        padding-left: 22px;
        font-style: normal;
        background: url(../img/icon_wind.png) no-repeat 0 0;
        text-align: center;
      }
    }
  }
  // Image
  .item-image {
    padding-top: 4%;
    img {
      width: 100%;
      height: auto;
    }
  }
  // Footer
  .item-footer {
    padding: 3% 7%;
    .item-body {
      font-size: 13px;
      line-height: 18px;
      color: $color_lightblue;
      padding-bottom: 8px;
      p {
        margin: 0;
      }
    }
    .item-loc-name {
      font-size: 12px;
      //color: $color_blue;
      float: left;
    }
    .item-from {
      float: right;
      font-size: 12px;
      a {
        color: $color_green;
      }
    }
    .item-comments {
      text-align: right;
      font-size: 12px;
      clear: both;
    }
  }
  // Item additional elements
  .item-tip {
    margin: 25px 0;
    width: 11px;
    height: 25px;
    position: absolute;
    top: 0;
    background: url(../img/timeline_sprite.png) no-repeat 0 0;
    // Full TIP height = 75px;
  }
  // Dot (center aligned
  .item-dot {
    margin: 25px 0;
    width: 14px;
    height: 25px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAZCAYAAAABmx/yAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNpi/P//PwM5gImBTDCENLJMX74cmc8DxEVA7AHEZlCxU0C8A4j7gPgLXCOSJnsgng/EimiGW0JxAhAnAvFBZKcGAvEBLJqQgSJUTSBMoxAQLyLBeyC1QkxQP/GQoBEcDiCN3mQEqjdIoxYZGhVBGr+ToZEZpPE+GRrvgDRuJUPjVpDGicgpgggAUjsRpPE1NEUQC0BqX8NSzhogdiPgX5CcJ1QtSu7YDcR6QNwETdgMSIm8CSq3AybIOFp00EAjQIABAM8MJn0IJatkAAAAAElFTkSuQmCC);
    position: absolute;
    top: 0;
  }
}

// Number of comments
.comment-num {
  color: $color_blue;
  font-weight: bold;
  padding-right: 20px;
  background: url(../img/comments.png) no-repeat right center;
  line-height: 16px;
  display: inline-block;
}

// Weather icon
.icon-weather {
  display: inline-block;
  @include no-font;
  width: 44px;
  height: 40px;

  background-image: url(../img/weather_icons.png);
  background-repeat: no-repeat;
  // Images are 44x40px, grabbed from sprite vith vertical-aligned icons
  &.party-cloudy {
    background-position: 0 0;
  }
  &.sun {
    background-position: 0 -40px;
  }
  &.cloud {
    background-position: 0 -80px;
  }
  &.heavy-rain {
    background-position: 0 -120px;
  }
  &.rain {
    background-position: 0 -160px;
  }
  &.heavy-snow {
    background-position: 0 -200px;
  }
  &.snow {
    background-position: 0 -240px;
  }
  &.lightning {
    background-position: 0 -280px;
  }
}

// Change location block
// ---------------------------------------------------------------------------------------------------------------------
.location-right,
.location-left {

}

#location-wrapper {
  .location-right {
    border-radius: 0 6px 6px 0;
    border-left: 2px solid darken($color_black, 10%);
    float: right;
  }

  .location-left {
    border-radius: 6px 0 0 6px;
    border-right: 2px solid darken($color_black, 10%);
    float: left;
  }

  .current-location {
    border-radius: 0;
    display: block;
    margin-left: 38px;
    margin-right: 38px;
    text-align: center;
  }
}

// Timeline filter
// ---------------------------------------------------------------------------------------------------------------------
#filter-form {
  width: 180px;
  float: right;
}



// Page Type backgrounds
// ---------------------------------------------------------------------------------------------------------------------

.page {
  background: $color_col1;
}

.page-app,
.page-home {
  //background: $color_col1;
  background: url(../img/bg/bg_home.jpg) no-repeat center 0;
  background-size: cover;
  background-attachment: fixed;
}

.page-locations {
  background: $color_col1;
  .col-1 {
    background: $color_col2;
  }
  .col-2 {

  }
}

// Icons
// ---------------------------------------------------------------------------------------------------------------------
.icon {
  display: inline-block;
  @include no-font;
  vertical-align: middle;
  &.up {
    width: 13px;
    height: 7px;
    @include icon(0,0);
  }
  &.down {
    width: 13px;
    height: 7px;
    @include icon(0,-7px);
  }
  &.left {
    width: 12px;
    height: 14px;
    @include icon(-13px, 0);
  }
  &.right {
    width: 12px;
    height: 14px;
    @include icon(-25px, 0);
  }
}

// Views
// ---------------------------------------------------------------------------------------------------------------------
.view {
  padding-bottom: 60px;
}

// view for locations page
.view-locations {
  padding-left: 20px;
  padding-right: 20px;
  .view-item {
    @include overflow;
    padding-top: 15px;
    padding-bottom: 45px;
    display: inline-block;
    vertical-align: top;
    width: 49%; // because 50% is too much :(
    // CONTENT
    .location-image {
      float: left;
      //width: 160px;
      //height: 160px;
      background: url(../img/location_cover.png) no-repeat 0 0;
      background-size: 100% 100%;
      //padding: 17px;
      margin-right: 30px;

      width: 27.5%;
      height: auto;
      padding: 2.9%;
      max-width: 160px;
      img {

      }
    }
    .location-name {
      font-weight: bold;
      font-size: 22px;
      display: block;
      padding-bottom: 5px;
    }
    .location-content {
      font-size: 14px;
      color: $color_header_font;
      padding-bottom: 10px;
      span {
        color: $color_green;
      }
    }
    .location-read-more {
      padding-left: 20px;
      padding-right: 20px;
    }


    // FIRST\LAST, etc.
    &.first,
    &:first-child {

    }
    &.last,
    &:last-child {

    }
  }
}

// View for comments
// view for locations page
.view-comments {
  padding-bottom: 0;
  margin-bottom: 10px;
  background: $color_comments_bg;
  border-radius: 5px;
  .view-item {
    padding: 6px 10px;
    border-top: 1px solid $color_white;

    // CONTENT
    .comment-author {
      font-size: 12px;
      font-weight: bold;
      color: $color_black;
      line-height: 19px;
    }
    .comment-body {
      font-size: 13px;
      line-height: 19px;
      color: $color_lightblue;
      p {
        line-height: 19px;
        margin: 0;
      }
    }
    .comment-post-date {
      font-size: 11px;
      line-height: 19px;
      color: $color_header_font;
    }


    // FIRST\LAST, etc.
    &.first,
    &:first-child {
      border-top: none;
    }
    &.last,
    &:last-child {

    }
  }
}

// Comments block
// ---------------------------------------------------------------------------------------------------------------------
#comments {
  background: $color_white;
  max-width: 660px;
  padding: 20px 15px 15px 15px;
  margin: 0 auto;
  position: relative;
  @include overflow;
  // Remake single item
  .item {
    float: left !important;
    clear: none;
    box-shadow: none;
    border-bottom: none;
    width: auto;
    margin: 0;
    border-radius: 0;
    background: none;

    width: 41%;
    padding-right: 3%;
    .item-header {
      padding-top: 0;
      .item-info {
        padding-left: 15%;
        width: 60%;
      }
    }
    .item-image {

    }
    .item-footer {

    }
  }
  // Comments body
  .item-comments {
    width: 56%;
    float: right;

  }
}

// SUBMIT NEW COMMENT
#comment-form {
  input[type="text"],
  input[type="submit"] {
    // Make the same height for blocks
    @include box-sizing(border-box);
    height: 41px;
  }
  input[type="text"] {
    width: 95%;
    padding-right: 70px;
  }
  input[type="submit"] {
    float: right;
    position: relative;
    z-index: 2;
    margin-top: -41px;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// AJAX loader
.ajax-loader {
  @include base-transition;
  clear: both;
  position: relative;
  background: white;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 32px;
  width: 110px;
  // Absolute positioning
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -70px; // because 110 (width) + 15 paddings
  img {
    padding-right: 10px;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Fix dots (timeline items) for iPad
.ipad {
  .item:nth-child(odd) .item-dot {
    left: -22.3%;
  }
  .item:nth-child(even) .item-dot {
    right: -22.3%;
  }
}