// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds main base styles
// ---------------------------------------------------------------------------------------------------------------------

// Include fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

// ---------------------------------------------------------------------------------------------------------------------
// Base layout styles
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}

body {
  font-size: 15px; // TODO: change font sizes
  line-height: 24px;

  @include text;
  color: $color_black;
  background: $color_white;
  height: 100%;
  position: relative;
}

// ---------------------------------------------------------------------------------------------------------------------
// Text Styles

h1, h2, h3, h4, h5, h6 {
  @include title;
  color: $color_black;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 0;
}

h1 {
  /*font-size: 72px;*/
  font-size: 32px;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

h5 {
  font-size: 18px;
  font-weight: normal;
}

h6 {
  font-size: 18px;
  font-weight: normal;
}

// links
a {
  @include base-transition;
  color: $color_blue;
  text-decoration: none;
  &:visited {
    color: $color_blue;
  }
  &:hover {
    text-decoration: none;
    color: darken($color_blue, 10%);
  }
  &:active {
    text-decoration: none;
  }
}

// Make Img tags responsive
img {
  @include responsive-image;
}

// Paragraphs
p {
  line-height: 19px;
  margin: 0 0 5px 0;
}

// Lists
ul, ol {
  margin-bottom: 5px;
  padding-left: 20px;
  li {
    line-height: 19px;
    padding: 3px 0;
    margin: 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Inputs

// Placeholders styling
::-webkit-input-placeholder {
  color: $color_grey;
}
:-moz-placeholder {
  color: $color_grey;
}
::-moz-placeholder {
  color: $color_grey;
}
:-ms-input-placeholder {
  color: $color_grey;
}

// Inputs
textarea,
select,
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include input;
}

select {

}

textarea {
  height: auto;
  min-height: 80px;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include btn;
}

input[type="submit"] {
  @include btn-main;
}

// Also add classes for buttons
.btn {
  @include btn;
}

.btn-primary {
  @include btn-main;
}

.btn-inverse {
  @include btn-inverse;
}

input[type="submit"].search {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAipJREFUeNpijEjNZYACdSBuAWIPIOYB4mtAPB2IpzDgAUxQOpaRkfECCwuzk5K83FkDXa3NYiLC34Dik4H4ABAL4TKABWQzUPMsSXGxK5X5mTNFhIVuAsW+ArHo1t37XJev3ZTNwMg44e/fv3FYDWBlYelnZWX9VJyV0gTUvCMyLe83THL5rEmXHjx+KnLkxOl4ILcPiC9geOHvv38OCnIyh6UkxFE0gwCQ/9zHzWki0IV/+Hh5fbGGwf///9l//vz5AF0zDMjLSF9mYWb+ycPNKY3VAA529ndv3r1XwxVIQINlf//5wy0iJPQEqwFK8rKHPn3+4glk62JTAAyfZmA4fXVztN2K1YCs5LgeHm6ul0B/7gNFJxCzQeUUgXjdnz9/Irm4OF9u3L7nFTYDGIFhwHT5+s2UOYtX5Lx68xbmio9AzM/MxPSVkYmR6c+fv5xAC64D1doDxV8jG8B889m7/1lJsTc8nR1uMzMzv/73798XXh7uV1pqKqcyE2Pmv3334dfzl6+0QOkCaIgPkF4FxN/gLkBKyqB4lwFSIMwKxO+B+A4Qa9R19E24fe+BPVgDxCVOQOYLDANwAaDBNuVNHb2PnjwzgxpyA2iII8gQJgYiADAqj1QXZtcCU+oNEB+oWQNoyH4gU4IoA0AAmBL3lOWkNwDD5ynMEGDm6yPaAKAr/slKS64vy82o4+LkfAU1VIqoMEALD45nL15FHT5xytjZ1mobQIABAJMWyR2hQ/B7AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 15px;
  padding-right: 15px;
  color: transparent !important;
  width: 45px;
}

// Grouped 2 fiels
.group-fields {
  input[type="file"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
  }
  button,
  input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Additional styles for forms, descriptions, etc.

.form-item {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  label {
    color: $color_grey;
    font-weight: normal;
    padding-bottom: 0;
  }
}

.form-actions {
  margin-top: 20px;
  margin-bottom: 0;
  clear: both;
}

.description {
  font-size: 12px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Some useful stuff
.todo {
  border: 2px solid #d1241a;
  color: #d1241a;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
