// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds main layout styles
// ---------------------------------------------------------------------------------------------------------------------

// Set min width
body {
  min-width: 300px;
}

// If we need to build grid inside something - just use this class
.container {
  @include container;
  //@include susy-grid-background;
}

// Header content
// ---------------------------------------------------------------------------------------------------------------------

header {
  padding-top: 0;
  margin-bottom: -35px;
  .header-inside {
    @include container;
    padding-left: 0;
    padding-right: 0;
  }
}

.logo,
.navbar,
.add-info {
  display: inline;
  float: left;
}

.logo {
  width: 10%;
}

.navbar {
  width: 40%;
}

.add-info {
  width: 50%;
}

// OLD VERSION OF HEADER
//header {
//  padding-top: 20px;
//  margin-bottom: -55px;
//  @include container;
//}
//
//.header-logo {
//  float: left;
//  margin: 25px 0 25px 25px;
//}
//
//.header-info {
//  float: right;
//  margin: 25px 25px 25px 0;
//}
//
//.navbar {
//  clear: both;
//  position: relative;
//}


// Footer content
// ---------------------------------------------------------------------------------------------------------------------

#region-footer-first {
  .region-inner {
    padding-top: 45px;
    padding-bottom: 60px;
    @include overflow;
  }
}

#region-footer-second {
  .region-inner {
    padding-top: 15px;
    padding-bottom: 15px;
    @include overflow;
  }
}

.footer-logo {
  @include span-columns(2);
}

.footer-download-app {
  @include span-columns(5);
}

.footer-social {
  @include span-columns(5 omega);
}

.footer-sponsors {
  padding-top: 50px;
  @include span-columns(10 omega);
  @include push(2);
}

.copyright {
  float: left;
}

.created-by {
  float: right;
}

// Main content
// ---------------------------------------------------------------------------------------------------------------------
#content {
  .content-inner {
    @include container;
    padding-top: 85px;
  }
}

// Layout type
// NOTE: this classes are added to #content
// ---------------------------------------------------------------------------------------------------------------------

// 1 col layout, nothing else
.layout-1col {

}

// 2 col layout
.layout-2col {
  .col-1 {
    @include span-columns(8);
  }

  .col-2 {
    @include span-columns(4 omega);
  }
}
