// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds main base styles
// ---------------------------------------------------------------------------------------------------------------------

// Include fonts
//@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
// ---------------------------------------------------------------------------------------------------------------------
// Base layout styles
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}

body {
  font-size: 15px; // TODO: change font sizes
  line-height: 24px;

  @include text;
  color: $color_black;
  background: $color_white;
  height: 100%;
  position: relative;
}

// ---------------------------------------------------------------------------------------------------------------------
// Text Styles

.page-title {
  font-size: 24px;
  font-weight: bold;
  //padding: 0 20px;
  margin-bottom: 30px;
  span {
    color: $color_green;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include title;
  color: $color_black;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 0;
}

h1 {
  /*font-size: 72px;*/
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: normal;
}

h6 {
  font-size: 18px;
  font-weight: normal;
}

// links
a {
  @include base-transition;
  color: $color_blue;
  text-decoration: none;
  &:visited {
    color: $color_blue;
  }
  &:hover {
    text-decoration: none;
    color: darken($color_blue, 10%);
  }
  &:active {
    text-decoration: none;
  }
}

// Make Img tags responsive
img {
  @include responsive-image;
}

// Paragraphs
p {
  line-height: 26px;
  margin: 0 0 20px 0;
}

// Lists
ul, ol {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 40px;
  li {
    line-height: 26px;
    padding: 0;
    margin: 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Inputs

// Placeholders styling
::-webkit-input-placeholder {
  color: $color_grey;
}
:-moz-placeholder {
  color: $color_grey;
}
::-moz-placeholder {
  color: $color_grey;
}
:-ms-input-placeholder {
  color: $color_grey;
}

// Inputs
textarea,
select,
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include input;
}

select {

}

textarea {
  height: auto;
  min-height: 80px;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include btn;
}

input[type="submit"] {
  @include btn-main;
}

// Also add classes for buttons
.btn {
  @include btn;
}

.btn.btn-primary {
  @include btn-main;
}

.btn.btn-inverse {
  @include btn-inverse;
}

.btn.btn-large {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
}

input[type="submit"].search {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAipJREFUeNpijEjNZYACdSBuAWIPIOYB4mtAPB2IpzDgAUxQOpaRkfECCwuzk5K83FkDXa3NYiLC34Dik4H4ABAL4TKABWQzUPMsSXGxK5X5mTNFhIVuAsW+ArHo1t37XJev3ZTNwMg44e/fv3FYDWBlYelnZWX9VJyV0gTUvCMyLe83THL5rEmXHjx+KnLkxOl4ILcPiC9geOHvv38OCnIyh6UkxFE0gwCQ/9zHzWki0IV/+Hh5fbGGwf///9l//vz5AF0zDMjLSF9mYWb+ycPNKY3VAA529ndv3r1XwxVIQINlf//5wy0iJPQEqwFK8rKHPn3+4glk62JTAAyfZmA4fXVztN2K1YCs5LgeHm6ul0B/7gNFJxCzQeUUgXjdnz9/Irm4OF9u3L7nFTYDGIFhwHT5+s2UOYtX5Lx68xbmio9AzM/MxPSVkYmR6c+fv5xAC64D1doDxV8jG8B889m7/1lJsTc8nR1uMzMzv/73798XXh7uV1pqKqcyE2Pmv3334dfzl6+0QOkCaIgPkF4FxN/gLkBKyqB4lwFSIMwKxO+B+A4Qa9R19E24fe+BPVgDxCVOQOYLDANwAaDBNuVNHb2PnjwzgxpyA2iII8gQJgYiADAqj1QXZtcCU+oNEB+oWQNoyH4gU4IoA0AAmBL3lOWkNwDD5ynMEGDm6yPaAKAr/slKS64vy82o4+LkfAU1VIqoMEALD45nL15FHT5xytjZ1mobQIABAJMWyR2hQ/B7AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 15px;
  padding-right: 15px;
  color: transparent !important;
  width: 45px;
}

// Grouped 2 fiels
//.group-fields {
//  input[type="file"],
//  input[type="date"],
//  input[type="datetime"],
//  input[type="datetime-local"],
//  input[type="email"],
//  input[type="month"],
//  input[type="number"],
//  input[type="password"],
//  input[type="search"],
//  input[type="tel"],
//  input[type="text"],
//  input[type="time"],
//  input[type="url"],
//  input[type="week"] {
//    border-bottom-right-radius: 0;
//    border-top-right-radius: 0;
//    border-right: none;
//  }
//  button,
//  input[type="reset"],
//  input[type="submit"],
//  input[type="button"] {
//    border-top-left-radius: 0;
//    border-bottom-left-radius: 0;
//  }
//}

.group-fields {
  &>*:first-child {
    border-radius: 6px 0 0 6px;
    border-right: none;
  }
  &>*:last-child {
    border-radius: 0 6px 6px 0;
    border-left: none;
  }
  &>* {
    border-radius: 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Custom FlatUI selects styles
.select {
  &.select-block {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;
    position: relative;
    .btn {
      @include box-sizing(border-box);
      width: 100%;
      position: relative;
      .filter-option {
        height: 26px;
        left: 13px;
        overflow: hidden;
        position: absolute;
        right: 33px;
        text-align: left;
        top: 10px;
        float: left;
      }
    }
  }
  .dropdown-arrow {
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: #34495e transparent #34495e transparent;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    right: 13px;
    top: 100%;
    width: 0;
    z-index: 10;
    -webkit-transform: rotate(360deg);
    @include transition(0.25s);
    -webkit-backface-visibility: hidden;
  }
  .caret {
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-width: 8px;
    border-bottom-color: #ffffff;
    border-style: solid;
    border-bottom-style: none;
    border-top-color: #ffffff;
    @include transition(0.25s);
    -webkit-backface-visibility: hidden;
  }
}

// Caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.select .btn .caret {
  position: absolute;
  right: 16px;
}
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}


// Dropdown inner
.dropdown-menu {
  padding: 4px 0 6px;
  margin: 8px 0 10px 25px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #34495e;
  color: #cccccc;
  border: none;
  border-radius: 6px;
  @include transition(0.25s);
  @include background-clip(padding-box);
  @include opacity(0);
  visibility: hidden;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  li {
    margin: 0 4px -2px;
    &:first-child {
      &>a {
        border-radius: 6px 6px 0 0;
        padding-top: 8px;
      }
    }
    &:first-child,
    &:last-child {
      &>a {
        border-radius: 2px;
        padding-bottom: 7px;
        padding-top: 5px;
      }
    }
    &.active,
    &.selected {
      &>a {
        background: #1abc9c;
        color: #ffffff;
        position: relative;
        z-index: 1;
      }
    }
    .divider {
      background-color: #526476;
      border-bottom-color: #526476;
    }
  }
  &>li {
    &>a {
      display: block;
      clear: both;
      font-weight: normal;
      line-height: 20px;
      white-space: nowrap;
      border-radius: 2px;
      color: #ffffff;
      padding: 5px 11px 7px;
      text-decoration: none;
      text-align: left;
      @include transition(0.25s);
      -webkit-backface-visibility: hidden;
      &:hover,
      &:focus,
      &:active {
        background: #2c3e50;
      }
      &.highlighted {
        background: #526476;
        &:hover,
        &:focus {
          background: #677786;
        }
      }
    }
  }
}

// Open classes
.open {
  &>.dropdown-arrow {
    margin-top: 9px;
    opacity: 1;
  }
  &>.dropdown-menu {
    display: block;
    margin-top: 18px;
    opacity: 1;
    visibility: visible;
  }
}

// Pull to left
.dropdown-inverse li > a .pull-left {
  float: none;
}

// ---------------------------------------------------------------------------------------------------------------------
// Useful bootstrap classes
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// ---------------------------------------------------------------------------------------------------------------------
// Additional styles for forms, descriptions, etc.

.form-item {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  label {
    color: $color_grey;
    font-weight: normal;
    padding-bottom: 0;
  }
  input,
  select,
  textarea {
    width: 97%;
  }
}

.form-actions {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 0;
  clear: both;
}

.description {
  font-size: 12px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Some useful stuff
.todo {
  border: 2px solid #d1241a;
  color: #d1241a;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
