// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds all mixins you need
// ---------------------------------------------------------------------------------------------------------------------

// Base transition
@mixin base-transition {
  @include transition(all 0.3s ease-out);
}

// Mixins for titles and text styles
@mixin text {
  font-family: $font;
  font-weight: normal;
}

@mixin title {
  font-family: $font;
  font-weight: 800;
}

// Mixin for responsive images
@mixin responsive-image {
  max-width: 100%;
  height: auto;
}

// Remove fonts (sometimes is needed)
@mixin no-font {
  color: transparent;
  font-size: 0;
}

// Overflow mixin (old dirty hack
@mixin overflow {
  height: 100%;
  overflow: hidden;
}

// Remove list dots (or numbers) of UL or OL
@mixin no-list {
  list-style-type: none;
  list-style-image: none;
  li {
    list-style-type: none;
    list-style-image: none;
  }
}

// Fully reset list
@mixin reset-list {
  @include no-list;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

// CUSTOM MIXINS
// ---------------------------------------------------------------------------------------------------------------------

// Custom icon mixin
// How it works - it takes your sprite image and uses X and Y coordinates
@mixin icon($x, $y) {
  background-image: url(../img/misc_icons.png);
  background-repeat: no-repeat;
  background-position: $x $y;
}

// Secondary button
@mixin btn {
  display: inline-block;
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 6px;
  box-shadow: none;
  @include transition(0.25s);
  -webkit-backface-visibility: hidden;
  &:hover {
    //background-color: #cacfd2;
    background-color: #48c9b0;
  }
  &:focus,
  &:active {
    //background-color: #a1a6a9;
    background-color: #16a085;
  }
}

// Primary button
@mixin btn-main {
  @include btn;
  background: #1abc9c;
  &:hover {
    background-color: #48c9b0;
  }
  &:focus,
  &:active {
    background-color: #16a085;
  }
}

@mixin btn-inverse {
  @include btn;
  background: #34495e;
  &:hover {
    background-color: #415b76;
  }
  &:focus,
  &:active {
    background-color: #2c3e50;
  }
}

// Tabs
@mixin input {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: $font;
  font-size: 14px;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;
  -webkit-appearance: none;
  border-radius: 6px;
  box-shadow: none;
  @include transition(border .25s linear, color .25s linear);
  -webkit-backface-visibility: hidden;
  // Placeholders
  &::-webkit-input-placeholder,
  &:-moz-placeholder {
    color: #b2bcc5;
  }
  &:focus {
    border-color: #1abc9c;
    outline: none;
    -webkit-backface-visibility: hidden;
  }
}

// Tabs
@mixin tab {
  @include btn;
}