// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds MEDIA-QUERIES for TABLET devices in LANDSCAPE mode
// ---------------------------------------------------------------------------------------------------------------------

@media only screen and (max-width:1036px) {

  // Change layout for footer blocks
  .footer-logo {
    @include span-columns(4);
  }

  .footer-download-app {
    @include span-columns(8 omega);
    margin-bottom: 50px;
  }

  .footer-social {
    @include span-columns(8 omega);
    @include push(4);
  }

  // Change layout for header
  header {
    padding-top: 10px;
  }

  // Make narrower user menu
  .nav-collapse {
    ul {
      li {
        a {
          .header-icon {
            margin-right: 5px;
          }
          .text {

          }
        }
      }
    }
  }

  // CHANGE LAYOUT MODE
  .layout-1col {

  }
  // 2 col layout
  .layout-2col {
    .col-1 {
      @include span-columns(12);
    }

    .col-2 {
      @include span-columns(12);
    }
  }
}