// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds MEDIA-QUERIES for PHONE devices in PORTRAIT mode
// ---------------------------------------------------------------------------------------------------------------------

// Was 320, but it's so small device screen I think
@media only screen and (max-width:360px) {

  // Align to left collapsing navbar
  .navbar {
    .nav-collapse {
      left: 80px;
    }
  }

  // Change fully view on portrait mode
  #timeline {
    .timeline-date-wrapper {
      text-align: center;
      .timeline-up {
        left: 50%;
        margin-left: 55px;
      }
      .timeline-down {
        left: 50%;
        margin-left: -80px;
      }
    }
    .timeline-content-wrapper {
      background-position: center 0;
    }
    .item {
      margin-left: 0;
      margin-right: 0;
      .item-dot,
      .item-tip {
        display: none;
      }
    }
  }

  // Change timeline layout
  .item {
    .item-header {
      .item-info {
        margin-bottom: 10px;
        padding-left: 30px;
        // width: auto;
        // display: block;
      }
      .item-icon {
        // display: block;
        // text-align: center;
        // width: auto;
        .icon-weather,
        .icon-wind {
          vertical-align: middle;
        }
      }
    }
    .item-footer {
      .item-body {
        font-size: 12px;
      }
      .item-from,
      .item-loc-name {
        float: none;
        text-align: center;
        display: block;
      }
      .item-from {

      }
    }
  }

  // Make narrower header menu
  .logo {
    width: 80px;
  }
  .navbar {
    padding-right: 0;
  }
  .add-info {

  }

// Location list narrower
  .view-locations {
    padding-left: 10px;
    padding-right: 10px;
    .view-item {
      @include overflow;
      padding-top: 25px;
      padding-bottom: 25px;
      width: 100%;
      display: inline-block;
      text-align: center;
      // CONTENT
      .location-image {
        float: none;
        background: url(../img/location_cover.png) no-repeat 0 0;
        background-size: 100% 100%;
        margin-right: 0;
        width: auto;
        height: auto;
        padding: 6.5%;
        max-width: 160px;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }

  // Make page title center aligned
  .page-title {
    text-align: center;
  }

  // Fix comment block
// Change comments layout for small screens
  #comments {
    .item {
      .item-header {
        .item-icon {
          max-width: 100%;
        }
      }
    }
    .item-comments {

    }
  }
// About us etc padding fix
.block.node {
  padding-left: 10px;
  padding-right: 10px;
}
}