// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds MEDIA-QUERIES for TABLET devices in PORTRAIT mode
// ---------------------------------------------------------------------------------------------------------------------

@media only screen and (max-width:768px) {

// Make narrower user menu
  .nav-collapse {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 3px;
    ul {
      li {
        a {
          .header-icon {
            margin-right: 2px;
          }
          .text {
            font-size: 13px;
          }
        }
      }
    }
  }

  #content {
    .content-inner {
      padding-left: 10px;
      padding-right: 10px;
    }
  }


}