// ---------------------------------------------------------------------------------------------------------------------
// This SCSS file holds MEDIA-QUERIES for PHONE devices in LANDSCAPE mode
// ---------------------------------------------------------------------------------------------------------------------

// Note: It was 480. But nav menu don't work nice :'(
@media only screen and (max-width:520px) {

  // Hide footer logo and app blocks
  .footer-logo {
    display: none;
  }
  .footer-download-app {
    display: none;
  }

  // Make 12 col footer block
  .footer-social {
    @include span-columns(12 omega);
  }
  .footer-sponsors {
    @include span-columns(12 omega);
  }

  // FOR OLD MENU !!!
  // Hide header user info
  // and make smaller spacing for sponsors
  //.header-info {
  //  .user-info {
  //    display: none;
  //  }
  //  .sponsors {
  //    padding-top: 0;
  //  }
  //}

  // Make header user friendly
// Make elements in header wider

  .logo {
    width: 100px;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .navbar {
    width: auto;
    display: inline-block;
    float: none;
    padding-right: 20px;
    text-align: right;
  }
  .add-info {
    display: inline-block;
    clear: none;
    float: right;
    width: 50px;

    height: 65px;

    .login {
      display: none;
    }
    .search {
      margin-top: 17px;
    }
  }



  // Make visible navbar btn
  .btn-navbar {
    display: inline-block;
  }

  .navbar {
    height: auto;
    .nav-collapse {
      position: absolute;
      left: 100px;
      top: 65px;
      ul {
        li {
          border-bottom: 1px solid $color_header_divider;
          float: none;
          width: 180px;
          text-align: left;
          a {
            text-align: left;
            padding-left: 20px;
            border-top: none;
            border-right: none;
            border-left: none;
            line-height: 50px;
            .header-icon {

            }
            .text {
              font-size: 16px;
            }
          }
          &:first-child,
          &.first {
            a {
              border-left: none;
              border-top: 1px solid $color_header_divider;
            }
          }
        }
      }
    }
  }
  // FOR OLD HEADER
  //.navbar {
  //  height: auto;
  //}
  //// Restyle Main navigation menu
  //.nav-collapse {
  //  position: absolute;
  //  right: 0;
  //  top: 51px;
  //  ul {
  //    li {
  //      float: none;
  //      width: 220px;
  //      text-align: left;
  //      a {
  //        text-align: left;
  //        padding-left: 15px;
  //        border-top: none;
  //        border-right: none;
  //        border-left: none;
  //        .header-icon {
  //
  //        }
  //        .text {
  //          font-size: 16px;
  //        }
  //      }
  //    }
  //  }
  //}

  // Remake Timeline
  .item {
    margin-top: 35px !important;
    &:nth-child(odd),
    &:nth-child(even) {
      float: none;
      width: auto;
      margin-left: 88px;
      // Change bg-position for tip
      .item-tip {
        background-position: 0 0;
        left: -11px;
        right: auto;
      }
      .item-dot {
        left: -58px;
        right: auto;
      }

    }
  }
  // Change positions for timelane nav's
  #timeline {
    .timeline-date-wrapper {

      text-align: left;
      .timeline-down,
      .timeline-up {
        left: 50px;
        text-align: center;
      }
      .timeline-down {
        margin-left: 90px;
      }
    }
    .timeline-content-wrapper {
      background-position: 45px 0;
    }
  }

}