<footer>

  <div id="region-footer-first" class="region-footer">
    <div class="region-inner container">

      <div class="block footer-logo">
        <a href="/">
          <img class="hires" src="./img/footer_logo.png" alt="Logo"/>
        </a>
      </div>

      <div class="block footer-sponsors">
        <div class="block-title">
          OUR SPONSORS
        </div>
        <div class="block-content">
          <a class="sponsor" href="#"><img src="./img/tmp/sponsor/sponsor1.png" alt=""/></a>
          <a class="sponsor" href="#"><img src="./img/tmp/sponsor/sponsor2.png" alt=""/></a>
          <a class="sponsor" href="#"><img src="./img/tmp/sponsor/sponsor3.png" alt=""/></a>
          <a class="sponsor" href="#"><img src="./img/tmp/sponsor/sponsor4.png" alt=""/></a>
        </div>
      </div>

      <div class="block footer-download-app">
        <div class="block-title">
          Download the app for free at
        </div>
        <div class="block-content">
          <a class="download app-store" href="#">App Store</a>
          <a class="download google-play" href="#">Google Play</a>
        </div>
      </div>

      <div class="block footer-social">
        <div class="block-title">
          Get Social with Us
        </div>
        <div class="block-content">
          <a class="social fb" href="#">Facebook</a>
          <a class="social tw" href="#">Twitter</a>
        </div>
      </div>

    </div>
  </div>

  <div id="region-footer-second" class="region-footer">
    <div class="region-inner container">
      <div class="copyright">
        © 2013 All Rights Reserved
      </div>
      <div class="created-by">
        Designed by <a href="#">Frontkom</a>
      </div>
    </div>
  </div>

</footer>