<!-- Timeline -->
<div class="block timeline">

  <div id="timeline">
    <!-- Timeline date -->
    <div class="timeline-date-wrapper">
      <!-- Date wrapper -->
      <span class="timeline-date">
        <span class="timeline-date-inner">
          <span class="day">
            19
          </span>
          <span class="month">
            Mar
          </span>
        </span>
      </span>
      <!-- Timeline controls -->
      <button class="btn timeline-up"><i class="icon up">Up</i></button>
      <button class="btn timeline-down"><i class="icon down">Down</i></button>
    </div>

    <!-- Timeline content -->
    <div class="timeline-content-wrapper">


      <div class="item type1">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">3 hours ago</div>
          </div>
          <div class="item-icon">
            <!-- NOTE: For weather icons use this classes: -->
            <!--party-cloudy                               -->
            <!--sun                                        -->
            <!--cloud                                      -->
            <!--heavy-rain                                 -->
            <!--rain                                       -->
            <!--heavy-snow                                 -->
            <!--snow                                       -->
            <!--lightning                                  -->
            <i class="icon-weather party-cloudy">Icon</i>
            <i class="icon-wind moderate">Hight</i>
          </div>
        </div>
        <!-- Item image -->
        <div class="item-image">
          <img src="./img/tmp/item_picture.png" alt=""/>
        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ver orci urna. Curabitur luctus, quam convallis mattis laoreet.
          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <a href="comments.html" class="comment-num">18</a>
          </div>
        </div>
      </div>

      <div class="item type2">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">4 hours ago</div>
          </div>
          <div class="item-icon">
            <i class="icon-weather sun">Icon</i>
            <i class="icon-wind moderate">Moderate</i>
          </div>
        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">

          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <a href="comments.html" class="comment-num">5</a>
          </div>
        </div>
      </div>

      <div class="item type3">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">5 hours ago</div>
          </div>
          <div class="item-icon">
            <i class="icon-weather cloud">Icon</i>
            <i class="icon-wind moderate">Moderate</i>
          </div>
        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ver orci urna. Curabitur luctus, quam convallis mattis laoreet.
          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <a href="comments.html" class="comment-num">4</a>
          </div>
        </div>
      </div>

      <div class="item type1">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">3 hours ago</div>
          </div>
          <div class="item-icon">
            <i class="icon-weather heavy-rain">Icon</i>
            <i class="icon-wind moderate">Hight</i>
          </div>
        </div>
        <!-- Item image -->
        <div class="item-image">
          <img src="./img/tmp/item_picture.png" alt=""/>
        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ver orci urna. Curabitur luctus, quam convallis mattis laoreet.
          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <a href="comments.html" class="comment-num">5</a>
          </div>
        </div>
      </div>

    </div>

    <div class="timeline-date-wrapper">
      <span class="timeline-date">
        <span class="timeline-date-inner">
          <span class="day">
            18
          </span>
          <span class="month">
            Mar
          </span>
        </span>
      </span>
      <button class="btn timeline-up"><i class="icon up">Up</i></button>
      <button class="btn timeline-down"><i class="icon down">Down</i></button>
    </div>

    <!-- Timeline content -->
    <div class="timeline-content-wrapper">
      <div class="item type1">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">3 hours ago</div>
          </div>
          <div class="item-icon">
            <i class="icon-weather rain">Icon</i>
            <i class="icon-wind moderate">Hight</i>
          </div>
        </div>
        <!-- Item image -->
        <div class="item-image">

        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ver orci urna. Curabitur luctus, quam convallis mattis laoreet.
          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <a href="comments.html" class="comment-num">5</a>
          </div>
        </div>
      </div>

      <div class="item type1">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">3 hours ago</div>
          </div>
          <div class="item-icon">
            <i class="icon-weather heavy-snow">Icon</i>
            <i class="icon-wind moderate">Hight</i>
          </div>
        </div>
        <!-- Item image -->
        <div class="item-image">
          <img src="./img/tmp/item_picture.png" alt=""/>
        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ver orci urna. Curabitur luctus, quam convallis mattis laoreet.
          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <span class="comment-num">18</span>
          </div>
        </div>
      </div>

      <div class="item type3">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">3 hours ago</div>
          </div>
          <div class="item-icon">
            <i class="icon-weather lightning">Icon</i>
            <i class="icon-wind moderate">Hight</i>
          </div>
        </div>
        <!-- Item image -->
        <div class="item-image">

        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">

          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <a href="comments.html" class="comment-num">8</a>
          </div>
        </div>
      </div>


    </div>



    <div class="timeline-date-wrapper">
      <span class="timeline-date">
        <span class="timeline-date-inner">
          <span class="day">
            17
          </span>
          <span class="month">
            Mar
          </span>
        </span>
      </span>
      <button class="btn timeline-up"><i class="icon up">Up</i></button>
      <button class="btn timeline-down"><i class="icon down">Down</i></button>
    </div>

    <!-- Timeline content -->
    <div class="timeline-content-wrapper">
      <div class="item type5">
        <!-- Item tip -->
        <div class="item-tip"></div>
        <div class="item-dot"></div>
        <!-- Item header info -->
        <div class="item-header">
          <div class="item-info">
            <div class="item-author">PER ANDRE RONSEN</div>
            <div class="item-posted">3 hours ago</div>
          </div>
          <div class="item-icon">
            <i class="icon-weather sun">Icon</i>
            <i class="icon-wind moderate">Hight</i>
          </div>
        </div>
        <!-- Item footer -->
        <div class="item-footer">
          <div class="item-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ver orci urna. Curabitur luctus, quam convallis mattis laoreet.
          </div>
          <a href="guestbook.html" class="item-loc-name">
            This location's name
          </a>
          <div class="item-from">
            via <a href="#">Gjesteboka</a>
          </div>
          <div class="item-comments">
            <a href="comments.html" class="comment-num">0</a>
          </div>
        </div>
      </div>
    </div>

    <!-- AJAX Loader -->
    <!-- TODO: Created just as HTML with styles. Need JS implementation -->
    <div class="ajax-loader">
      <img src="./img/ajax_loader.gif" alt=""/>
      Loading...
    </div>

  </div>


</div>