<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title> {% if page.title %} {{ page.title }} | {% endif %} GJESTEBOKA</title>

  <!-- TODO: Need description -->
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- TODO: Need favicon and touch icons -->
  <!--<link rel="shortcut icon" href="favicon.ico">-->
  <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144-precomposed.png">-->
  <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114-precomposed.png">-->
  <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72-precomposed.png">-->
  <!--<link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57-precomposed.png">-->


  <link rel="stylesheet" href="./css/html5bp.css">
  <link rel="stylesheet" href="./css/global.css">

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery.min.js"><\/script>')</script>

  <!-- Bootsrap used for custom selects -->
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/customSelect.js"></script>
  <!-- Scrollto JS for timeline -->
  <script src="./js/scrollTo.min.js"></script>
  <!-- Js wich adds classes to HTML -->
  <script src="./js/browser.js"></script>

  <script src="./js/main.js"></script>



</head>
<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

</body>
</html>